.idea
.env
node_modules
vendor
xdebug
npm-debug.log
yarn-error.log
dump.rdb

docker/db/storage
docker/php/logs
docker/nginx/logs

storage/*.key
storage/logs/*
storage/framework/testing

public/mix-manifest.json
public/storage
public/js/*
public/css/*