.vscode
.idea
.vagrant
.env
.phpcomplete_extended
node_modules
vendor
xdebug
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
dump.rdb
tags
docker/db/storage
docker/php/logs
docker/nginx/logs
storage/*.key
public/mix-manifest.json
public/hot
public/storage
public/js/app.js
public/js/app.js.map
public/css/app.css