.level-badge, .level-badge-wrap {
    width: 33px;
    height: 23px;
    background: #181919;
    position: relative;

    &::before, &::after {
        content: "";
        position: absolute;
        left: 0;
        width: 0;
        height: 0;
        border-left: 16.7px solid transparent;
        border-right: 16.7px solid transparent;
    }

    &::before {
        top: -8px;
        border-bottom: 9px solid #181919;
    }

    &::after {
        bottom: -12px;
        border-top: 12px solid $silverColor;
    }

    span {
        font-size: 1.6em;
        font-weight: bold;
        font-family: sans-serif;
        line-height: 23px;
        color: $silverColor;
    }

    &.gold-color {
        &::after {
            border-top-color: $goldColor;
        }

        span {
            color: $goldColor;
        }
    }

    &.purple-color {
        &::after {
            border-top-color: $purpleColor;
        }

        span {
            color: $purpleColor;
        }
    }

    &.blue-color {
        &::after {
            border-top-color: $blueColor;
        }

        span {
            color: $blueColor;
        }
    }

}

.level-badge-wrap {
    &::before {
        top: -13px;
        border-bottom: 13px solid $silverColor;
    }

    &::after {
        bottom: -8px;
        border-top: 9px solid #181919;
    }

    &.gold-color {
        &::before {
            border-bottom-color: $goldColor;
        }
    }

    &.purple-color {
        &::before {
            border-bottom-color: $purpleColor;
        }
    }

    &.blue-color {
        &::before {
            border-bottom-color: $blueColor;
        }
    }
}