footer {
	background: $greyDark;
	min-height: 50em;
	
	strong {
		color: $mainLight;
		font-size: 1.1em;
	}

	a {
		color: #cfcfcf;
		&:hover {
			color: #a5a5a5;
		}
	}

	.active {
		text-decoration: underline;
	}

	.footer-logo {
		width: 50px;
		margin: 0 auto;
	}

	.footer-copyright {
		font-size: .7em;
		color: $grey;
		color: #c0bfff;
		margin: .5em;
	}
}