.item-list {
    padding: 1em 0;

    .btn {
        color: #fff;
    }
    
    > ul > li.col,
    > ul > a > li.col {
        position: relative;
        height: 115px;
        display: flex;
        padding: 4px 10px;
        background-color: #e0e0e0;
        transition: background-color 250ms;
        border-radius: 2px;
        border-left: solid 3px $main;
        
        .dark-theme & {
            background-color: lighten($darkTheme, 7%);
        }

        &:hover {
            transition: background-color 250ms;
            background-color: #ddd;

            .dark-theme & {
                background-color: lighten($darkTheme, 10%);
            }
        }
    }

    img {
        width: 6em;
        height: 4.3em;
        margin: .5em 0;
        border-radius: 3px;
        border: solid 3px #fff;
        border-bottom: solid 6px #fff;
    }
}

.item-content {
    width: 100%;
    margin-top: .8em;
    font-size: .85em;
    text-align: left;
    padding-left: 10px;
}