.user-icon {
	width: 53px;
	height: 53px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.user-icon-navbar {
	width: 35px;
	height: 35px;
	border-radius: 50%;
}

.right-borders>li {
	border-left: solid 1px darken($main, 6%);
}

// Search form
.nav-search-form {
	position: absolute;
	transform-origin: top;
	transition: transform 500ms;
	transform: translateY(-100%);
	z-index: 5;
}

.nav-search-form.active {
	transform: translateY(0%);
}

// Sidebar
.bottom-borders>li {
	border-bottom: solid 1px darken($paper, 2%);
}

.sidebar-hat-auth, .sidebar-hat-guest {
	height: 100px;
	background-position: center;
	background-size: cover;
}

.sidebar-hat-guest {
	background-image: url(../storage/other/sidebar-hat.jpg);
	a {
		opacity: 7;
		margin-top: 8px;
	}
}