.user-icon-navbar {
    width: 39px;
    height: 39px !important;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    border-radius: 50%;
    
    img {
        width: 39px;
        height: auto;
    }
}


.right-borders > li {
    border-left: solid 1px darken($main, 6%);
}

// Search form
.nav-search-form {
    position: absolute;
    transform-origin: top;
    transition: transform 500ms;
    transform: translateY(-100%);
    z-index: 5;
}

.nav-search-form.active {
    transform: translateY(0%);
}

// Sidebar
.bottom-borders > li {
    border-bottom: solid 1px darken($paper, 2%);
}

.sidebar-hat-auth, .sidebar-hat-guest {
    height: 130px;
    background-position: center;
    background-size: cover;
}

.sidebar-hat-guest {
    background-image: url(../storage/other/sidebar-hat.jpg);
    a {
        opacity: 7;
        margin-top: 15px;
    }
}

.loved-link {
    margin-left: 140px !important;

    span {
        font-size: .7em;
        margin-left: -11px;
        line-height: 52px;
    }

    i {
        color: $mainLight;
        transition: color .1s, transform .2s;
        font-size: 1.3em;
        line-height: 52px;
        animation: disappear .7s;
        animation-direction: reverse;

        &:hover {
            color: lighten($mainLight, 8%);
            transform: scale(1.2)
        }
    }
}

@media only screen and (max-width: 992px) {
    .loved-link {
        margin-left: 75px !important;
    }
}

.dropdown-content li a i.active {
    color: $red;
}