.user-icon-navbar {
    width: 39px;
    height: 39px !important;
    align-items: center;
    justify-content: center;
    overflow: visible;
    
    img {
        width: 39px;
        height: auto;
        border-radius: 50%;
    }
}

.align-to-the-middle {
    height:54px;
    display: flex;
    align-items: center;
}


.right-borders > li {
    border-left: solid 1px darken($main, 6%);
}

// Search form
.nav-search-form {
    position: absolute;
    transform-origin: top;
    transition: transform 500ms;
    transform: translateY(-100%);
    z-index: 5;
}

.nav-search-form.active {
    transform: translateY(0%);
}

// Sidebar
.bottom-borders > li {
    border-bottom: solid 1px darken($paper, 2%);

    .dark-theme & {
        border-color: lighten($darkTheme, 15%);
    }
}