@keyframes heart-beat {
	10%, 90% { color: #700101; transform: scale(1); }
	20%, 80% { color: #860101; transform: scale(1.1); }
	30%, 50%, 70% { color: #a50202; transform: scale(1.15); }
	40%, 60% { color: #c40101; transform: scale(1.2); }
}

@keyframes disappear {
	0% { opacity: 1; transform: scale(1); }
	25%, 75% { opacity: 1; }
	50% { opacity: 1; transform: scale(1.6); }
	100% { opacity: 0; transform: scale(0); }
}

@keyframes notification {
	from { left: -100%; }
	to { left: .6em; }
}

@keyframes ring {
	0%, 100%, 43% { transform: rotate(0); }
	1%, 9% { ransform: rotate(30deg); }
	11%, 3% { transform: rotate(-28deg); }
	5% { transform: rotate(34deg); }
	7% { transform: rotate(-32deg); }
	13% { transform: rotate(26deg); }
	15% { transform: rotate(-24deg); }
	17% { transform: rotate(22deg); }
	19% { transform: rotate(-20deg); }
	21% { transform: rotate(18deg); }
	23% { transform: rotate(-16deg); }
	25% { transform: rotate(14deg); }
	27% { transform: rotate(-12deg); }
	29% { transform: rotate(10deg); }
	31% { transform: rotate(-8deg); }
	33% { transform: rotate(6deg); }
	35% { transform: rotate(-4deg); }
	37% { transform: rotate(2deg); }
	39% { transform: rotate(-1deg); }
	41% { transform: rotate(1deg); }
}