@font-face {
  font-family: Comfortaa;
  src: url(fonts/Comfortaa/Comfortaa-Regular.ttf);
}

body {
  font-family: Arial, Helvetica;
  background: #2e2d2d;
  font-size: 1rem;
  line-height: 1.5;
  counter-reset: item;
}

input[type="search"] {
  margin-bottom: 0 !important;
  height: 64px !important;
}

.headline {
  color: #292543;
  font-family: "Comfortaa", sans-serif;
  text-shadow: 1px 1px 3px #b3aed2;
  display: inline-block;
  font-size: 1.4em;
  margin: .4em;
  position: relative;
}

.headline::first-letter {
  text-transform: uppercase;
}

.headline::before {
  content: '';
  width: 80px;
  height: 2px;
  background: #484074;
  position: absolute;
  left: -20px;
  top: -4px;
}

.headline::after {
  content: '';
  width: 3px;
  height: 40px;
  background: #484074;
  position: absolute;
  left: -10px;
  top: -10px;
}

.online-icon-on,
.online-icon-off {
  display: inline-block;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  margin-right: 2px;
}

.online-icon-on {
  background: darkgreen;
}

.online-icon-off {
  background: brown;
}

.m-0 {
  margin: 0 !important;
}

.mt-0,
.my-0 {
  margin-top: 0 !important;
}

.mr-0,
.mx-0 {
  margin-right: 0 !important;
}

.mb-0,
.my-0 {
  margin-bottom: 0 !important;
}

.ml-0,
.mx-0 {
  margin-left: 0 !important;
}

.m-1 {
  margin: 0.25rem !important;
}

.mt-1,
.my-1 {
  margin-top: 0.25rem !important;
}

.mr-1,
.mx-1 {
  margin-right: 0.25rem !important;
}

.mb-1,
.my-1 {
  margin-bottom: 0.25rem !important;
}

.ml-1,
.mx-1 {
  margin-left: 0.25rem !important;
}

.m-2 {
  margin: 0.5rem !important;
}

.mt-2,
.my-2 {
  margin-top: 0.5rem !important;
}

.mr-2,
.mx-2 {
  margin-right: 0.5rem !important;
}

.mb-2,
.my-2 {
  margin-bottom: 0.5rem !important;
}

.ml-2,
.mx-2 {
  margin-left: 0.5rem !important;
}

.m-3 {
  margin: 1rem !important;
}

.mt-3,
.my-3 {
  margin-top: 1rem !important;
}

.mr-3,
.mx-3 {
  margin-right: 1rem !important;
}

.mb-3,
.my-3 {
  margin-bottom: 1rem !important;
}

.ml-3,
.mx-3 {
  margin-left: 1rem !important;
}

.m-4 {
  margin: 1.5rem !important;
}

.mt-4,
.my-4 {
  margin-top: 1.5rem !important;
}

.mr-4,
.mx-4 {
  margin-right: 1.5rem !important;
}

.mb-4,
.my-4 {
  margin-bottom: 1.5rem !important;
}

.ml-4,
.mx-4 {
  margin-left: 1.5rem !important;
}

.m-5 {
  margin: 3rem !important;
}

.mt-5,
.my-5 {
  margin-top: 3rem !important;
}

.mr-5,
.mx-5 {
  margin-right: 3rem !important;
}

.mb-5,
.my-5 {
  margin-bottom: 3rem !important;
}

.ml-5,
.mx-5 {
  margin-left: 3rem !important;
}

.p-0 {
  padding: 0 !important;
}

.pt-0,
.py-0 {
  padding-top: 0 !important;
}

.pr-0,
.px-0 {
  padding-right: 0 !important;
}

.pb-0,
.py-0 {
  padding-bottom: 0 !important;
}

.pl-0,
.px-0 {
  padding-left: 0 !important;
}

.p-1 {
  padding: 0.25rem !important;
}

.pt-1,
.py-1 {
  padding-top: 0.25rem !important;
}

.pr-1,
.px-1 {
  padding-right: 0.25rem !important;
}

.pb-1,
.py-1 {
  padding-bottom: 0.25rem !important;
}

.pl-1,
.px-1 {
  padding-left: 0.25rem !important;
}

.p-2 {
  padding: 0.5rem !important;
}

.pt-2,
.py-2 {
  padding-top: 0.5rem !important;
}

.pr-2,
.px-2 {
  padding-right: 0.5rem !important;
}

.pb-2,
.py-2 {
  padding-bottom: 0.5rem !important;
}

.pl-2,
.px-2 {
  padding-left: 0.5rem !important;
}

.p-3 {
  padding: 1rem !important;
}

.pt-3,
.py-3 {
  padding-top: 1rem !important;
}

.pr-3,
.px-3 {
  padding-right: 1rem !important;
}

.pb-3,
.py-3 {
  padding-bottom: 1rem !important;
}

.pl-3,
.px-3 {
  padding-left: 1rem !important;
}

.p-4 {
  padding: 1.5rem !important;
}

.pt-4,
.py-4 {
  padding-top: 1.5rem !important;
}

.pr-4,
.px-4 {
  padding-right: 1.5rem !important;
}

.pb-4,
.py-4 {
  padding-bottom: 1.5rem !important;
}

.pl-4,
.px-4 {
  padding-left: 1.5rem !important;
}

.p-5 {
  padding: 3rem !important;
}

.pt-5,
.py-5 {
  padding-top: 3rem !important;
}

.pr-5,
.px-5 {
  padding-right: 3rem !important;
}

.pb-5,
.py-5 {
  padding-bottom: 3rem !important;
}

.pl-5,
.px-5 {
  padding-left: 3rem !important;
}

.m-auto {
  margin: auto !important;
}

.mt-auto,
.my-auto {
  margin-top: auto !important;
}

.mr-auto,
.mx-auto {
  margin-right: auto !important;
}

.mb-auto,
.my-auto {
  margin-bottom: auto !important;
}

.ml-auto,
.mx-auto {
  margin-left: auto !important;
}

.home-section {
  background: #f3f3f3;
  color: #333;
  padding: 1.5em 1.8em;
}

.home-section .headline {
  margin-bottom: 1em;
  font-size: 1.9em;
  font-family: "Comfortaa", sans-serif;
}

.home-section p {
  font-size: 1.1em;
  text-align: left;
}

.home-header {
  width: 100%;
  height: 100vh;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #fff;
  background: rgba(72, 64, 116, 0.5) url(../storage/other/img.jpg);
  background-blend-mode: overlay;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  overflow: hidden;
}

.home-header .header-content {
  width: 94%;
  position: absolute;
  top: 45%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  margin-top: -1em;
  text-align: center;
}

.home-header .header-content h1, .home-header .header-content .home-meal {
  -webkit-animation: appearWithOpacity 2s;
          animation: appearWithOpacity 2s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-transition: opacity 300ms;
  transition: opacity 300ms;
  text-shadow: 2px 2px 2px #000;
  font-family: "Comfortaa", sans-serif;
  opacity: 0;
}

.home-header .header-content h1 {
  z-index: 30;
  line-height: 1.2;
  padding-top: 2.8em;
  padding-bottom: 5px;
  font-size: 2.5em;
  -webkit-animation-delay: .5s;
          animation-delay: .5s;
}

.home-header .header-content .home-meal {
  font-size: 1.2em;
  -webkit-animation-delay: .7s;
          animation-delay: .7s;
  position: relative;
}

.home-header .header-content .home-meal a {
  display: inline-block;
  color: #fff;
  -webkit-transition: padding .3s, background-color .5s, -webkit-transform .2s;
  transition: padding .3s, background-color .5s, -webkit-transform .2s;
  transition: padding .3s, transform .2s, background-color .5s;
  transition: padding .3s, transform .2s, background-color .5s, -webkit-transform .2s;
  -webkit-transform: scale(1);
          transform: scale(1);
  border-radius: 20px;
}

.home-header .header-content .home-meal a:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
  -webkit-transition: padding .3s, background-color .5s, -webkit-transform .2s;
  transition: padding .3s, background-color .5s, -webkit-transform .2s;
  transition: padding .3s, transform .2s, background-color .5s;
  transition: padding .3s, transform .2s, background-color .5s, -webkit-transform .2s;
  background: #292543;
  padding: 0 15px;
  -webkit-box-shadow: 2px 2px 15px rgba(0, 0, 0, 0.6);
          box-shadow: 2px 2px 15px rgba(0, 0, 0, 0.6);
}

.home-header .header-bg-content {
  padding: 1em;
}

.home-header .home-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: .6em auto;
  width: 5em;
  height: 5em;
  text-align: center;
  border-radius: 50%;
  background: #484074;
  color: #fff;
  -webkit-animation: appearWithRotate 1s;
          animation: appearWithRotate 1s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-transition: opacity 300ms;
  transition: opacity 300ms;
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
  opacity: 0;
  cursor: pointer;
  position: relative;
  border: none;
}

.home-header .home-button i {
  margin: auto;
  font-size: 40px;
}

.home-header .home-button:hover {
  background: #443c6d;
  -webkit-transition: background-color 400ms, -webkit-transform 400ms;
  transition: background-color 400ms, -webkit-transform 400ms;
  transition: transform 400ms, background-color 400ms;
  transition: transform 400ms, background-color 400ms, -webkit-transform 400ms;
}

.home-header .home-search {
  width: 80%;
  max-width: 30em;
  position: absolute;
  top: 1em;
  left: 50%;
  -webkit-transform-origin: top;
          transform-origin: top;
  -webkit-transition: -webkit-transform 400ms;
  transition: -webkit-transform 400ms;
  transition: transform 400ms;
  transition: transform 400ms, -webkit-transform 400ms;
  -webkit-transform: translateX(-50%) perspective(1000px) rotateX(-90deg);
          transform: translateX(-50%) perspective(1000px) rotateX(-90deg);
}

.home-header .home-search.active {
  -webkit-transform: translateX(-50%) perspective(1000px) rotateX(0deg);
          transform: translateX(-50%) perspective(1000px) rotateX(0deg);
}

.home-header .header-search input {
  width: 100%;
  position: absolute;
  top: 3.8em;
  height: 2em;
  padding: 0 1em;
  border-radius: 10px;
  border: 2px solid #1e5799;
  background: rgba(0, 0, 0, 0.4);
  color: #ffffff;
  -webkit-transition: border 300ms, opacity 400ms;
  transition: border 300ms, opacity 400ms;
  outline: 0;
}

.home-header .header-search input:focus {
  border: 2px solid #861b50;
  -webkit-transition: border 300ms;
  transition: border 300ms;
}

.home-edit-form {
  position: absolute;
  width: 80%;
  max-width: 35em;
  top: 100%;
  left: 50%;
  z-index: 100;
  background: #fafafa;
  border-radius: 4px;
  -webkit-box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.4);
          box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.4);
  -webkit-transform-origin: top;
          transform-origin: top;
  -webkit-transition: -webkit-transform 400ms;
  transition: -webkit-transform 400ms;
  transition: transform 400ms;
  transition: transform 400ms, -webkit-transform 400ms;
  -webkit-transform: translate(-50%, -50%) perspective(1000px) rotateX(-90deg);
          transform: translate(-50%, -50%) perspective(1000px) rotateX(-90deg);
}

.home-edit-form.active {
  -webkit-transform: translate(-50%, -50%) perspective(1000px) rotateX(0deg);
          transform: translate(-50%, -50%) perspective(1000px) rotateX(0deg);
}

.edit-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  margin: .5em auto;
  width: 40px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  border-radius: 50%;
  background: #484074;
  color: #fff;
  font-size: 1.6em;
  cursor: pointer;
  -webkit-transition: opacity 300ms;
  transition: opacity 300ms;
  opacity: .7;
  z-index: 120;
}

.edit-btn i {
  width: 15px;
  height: 15px;
  margin: auto;
  filter: invert(100%);
  -ms-filter: invert(100%);
  -moz-filter: invert(100%);
  -webkit-filter: invert(100%);
}

.edit-btn:hover {
  -webkit-transition: opacity 400ms;
  transition: opacity 400ms;
  opacity: 1;
}

@media (max-width: 640px) {
  .home-section {
    padding: 1.4em;
  }
  .home-section .headline {
    font-size: 1.3em;
  }
  .home-section p {
    font-size: 1em;
  }
  .home-header .header-content {
    width: 90%;
  }
  .home-header .header-content h1 {
    font-size: 2em;
  }
  .home-header .header-content h2 {
    font-size: 1em;
  }
}

footer {
  padding: 1em;
}

footer strong {
  color: #b3aed2;
}

footer a {
  color: #cfcfcf;
}

footer a:hover {
  color: #a5a5a5;
}

footer .active {
  text-decoration: underline;
}

footer .footer-logo {
  width: 50px;
  margin: 0 auto;
}

footer .footer-copyright {
  font-size: .7em;
  color: #adadad;
  color: #c0bfff;
  margin: .5em;
}

@-webkit-keyframes heart-beat {
  10%, 90% {
    color: #700101;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  20%, 80% {
    color: #860101;
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
  30%, 50%, 70% {
    color: #a50202;
    -webkit-transform: scale(1.15);
            transform: scale(1.15);
  }
  40%, 60% {
    color: #c40101;
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
}

@keyframes heart-beat {
  10%, 90% {
    color: #700101;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  20%, 80% {
    color: #860101;
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
  30%, 50%, 70% {
    color: #a50202;
    -webkit-transform: scale(1.15);
            transform: scale(1.15);
  }
  40%, 60% {
    color: #c40101;
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
}

@-webkit-keyframes appear {
  0% {
    opacity: 0;
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  25%, 75% {
    opacity: 1;
  }
  50% {
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  100% {
    opacity: 1;
  }
}

@keyframes appear {
  0% {
    opacity: 0;
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  25%, 75% {
    opacity: 1;
  }
  50% {
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes appearWithOpacity {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes appearWithOpacity {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes appearWithRotate {
  0% {
    opacity: 0;
  }
  10% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  20% {
    -webkit-transform: scale3d(-0.5, 1, 1);
            transform: scale3d(-0.5, 1, 1);
  }
  25% {
    -webkit-transform: scale3d(-1, 1, 1);
            transform: scale3d(-1, 1, 1);
  }
  60% {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
  70% {
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 1;
  }
}

@keyframes appearWithRotate {
  0% {
    opacity: 0;
  }
  10% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  20% {
    -webkit-transform: scale3d(-0.5, 1, 1);
            transform: scale3d(-0.5, 1, 1);
  }
  25% {
    -webkit-transform: scale3d(-1, 1, 1);
            transform: scale3d(-1, 1, 1);
  }
  60% {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
  70% {
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 1;
  }
}

@-webkit-keyframes disappear {
  0% {
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  25%, 75% {
    opacity: 1;
  }
  50% {
    opacity: 1;
    -webkit-transform: scale(1.6);
            transform: scale(1.6);
  }
  100% {
    opacity: 0;
    -webkit-transform: scale(0);
            transform: scale(0);
  }
}

@keyframes disappear {
  0% {
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  25%, 75% {
    opacity: 1;
  }
  50% {
    opacity: 1;
    -webkit-transform: scale(1.6);
            transform: scale(1.6);
  }
  100% {
    opacity: 0;
    -webkit-transform: scale(0);
            transform: scale(0);
  }
}

@-webkit-keyframes loadingRotate {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes loadingRotate {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

.like-for-author-section .user-icon {
  margin-right: -25px;
  -webkit-transition: margin-right 300ms, -webkit-transform 300ms;
  transition: margin-right 300ms, -webkit-transform 300ms;
  transition: margin-right 300ms, transform 300ms;
  transition: margin-right 300ms, transform 300ms, -webkit-transform 300ms;
}

.like-for-author-section .user-icon:hover {
  margin-right: 5px;
  -webkit-transition: margin-right 300ms, -webkit-transform 300ms;
  transition: margin-right 300ms, -webkit-transform 300ms;
  transition: margin-right 300ms, transform 300ms;
  transition: margin-right 300ms, transform 300ms, -webkit-transform 300ms;
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.user-icon {
  width: 50px;
  height: 50px;
  margin-right: 10px;
  border-radius: 50%;
  display: inline-block;
  background-position: center !important;
  background-size: 50px !important;
  background-repeat: no-repeat !important;
}

.like-icon {
  display: inline-block;
  width: 25px;
  height: 25px;
  margin: auto;
  background-position: center;
  background-size: 25px;
  cursor: pointer;
  -webkit-animation: heart-beat 1.7s infinite both 1s, disappear 1s;
          animation: heart-beat 1.7s infinite both 1s, disappear 1s;
  animation-direction: alternate, reverse;
}

.like-icon-empty {
  background: url(icons/empty-heart.png);
  -webkit-transition: background .3s;
  transition: background .3s;
}

.like-icon-full {
  background: url(icons/full-heart.png);
  -webkit-transition: background .3s;
  transition: background .3s;
}

@media (min-width: 640px) {
  .user-icon {
    width: 70px;
    height: 70px;
    background-size: 70px !important;
  }
}

.bubbles {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 2.3em;
}

.bubbles-block {
  margin-right: 15px;
}

.bubble {
  display: block;
  width: 90px;
  height: 90px;
  margin: auto;
  position: relative;
  border: solid 2px #484074;
  border-radius: 50%;
  line-height: .6;
}

.bubble .number, .bubble svg {
  position: absolute;
}

.bubble .number {
  top: 52%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  left: 50%;
  font-size: 25px;
  z-index: 1;
  color: #292543;
}

.bubble .number::after {
  content: '';
  width: 100%;
  border-bottom: 1px solid #484074;
  display: block;
  position: absolute;
  bottom: -10px;
}

.bubble svg {
  top: -15px;
  left: 30%;
}

@media (max-width: 360px) {
  .bubble {
    width: 70px;
    height: 70px;
  }
  .bubble .number {
    font-size: 20px;
  }
}
