@font-face {
    font-family: pattaya;
    src: url(../fonts/pattaya.ttf);
}

@font-face {
    font-family: titillium;
    src: url(../fonts/titillium.ttf);
}

@font-face {
    font-family: vibes;
    src: url(../fonts/greatvibes.ttf);
}

@keyframes shake{
    10%, 90% { font-size:100%; }
    20%, 80% { font-size:110%; }
    30%, 50%, 70% { font-size:120%; }
    40%, 60% { font-size:130%; }
}

:root {
    --main: #8080ff;
    --mainHover: #6969d3;
    --gray: #adadad;
    --lightGray: #e0e0e0;
    --darkGray: #333;
    --paper: #eee;
    --error: #DC3545;
    --success: #28A745;
    --headerFont: 'pattaya', Arial, Helvetica;
    --mainFont: 'titillium', Arial, Helvetica;
    --logoFont: 'vibes', Arial, Helvetica;
    --headerImage: var(--main) url("../img.jpg");
}

/* -- Reset -- */
* { margin: 0; padding: 0; }

a { text-decoration: none; color: var(--main);}

textarea, form {
    width: 100%;
    box-sizing: border-box;
}

button { cursor: pointer; }

html, body {
    height: 100%;
	-ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

button, input, select, textarea {
	font-family: Arial, Helvetica, sans-serif;
    font-size: 100%;
    box-sizing: border-box;
}

/* -- Code -- */
body {
    margin: 0;
    font-family: var(--mainFont);
    background: var(--darkGray);
    color: #eee;
    font-size: 1rem;
    line-height: 1.5;
    text-align: center;
    counter-reset: item;
}

img {
    display: block;
    width: 100%;
    height: auto;
}

.message {
    width: 15em;
    display: block;
    padding: .3em 1.7em;
    margin: .2em auto;
    color: #fff;
    border-radius: .3em;
    border: solid 1px #c9c9c9;
    opacity: .8;
    text-align: left;
    font-size: .9em;
}

.error {
    background: var(--error);
}

.success {
    background: var(--success);
}

.headline {
    display: block;
    font-size: 1.3em;
    margin-bottom: 1.2em;
    color: var(--darkGray);
}

/* --- wrapper --- */
.wrapper {
    min-height: 20em;
    color: var(--darkGray);
    background: var(--paper);
    padding-top: 4em;
}

.wrapper h1,
.wrapper h2 {
    font-family: var(--headerFont);
}

.container {
    padding: 2em;
}

/* -- Navigation menu -- */
#nav-menu {
    position: fixed;
    background: var(--main);
    transition: opacity linear 100ms;
    transition: all 100ms linear;
    z-index: 15;
    opacity: 0.95;
    left: 0;
}

.nav-closed {
    width: 100%;
    height: 0;
}

.nav-opened {
    width: 12em;
    padding-top: 1.25em;
}

#logo {
    transition: 200ms;
    z-index: 5;
    text-shadow: 1px 1px 1px var(--darkGray);
    font-weight: 100;
    font-family: var(--logoFont);
}

.logo-opened {
    width: 60%;
    margin: .5em auto 0 auto;
    font-size: 1em;
}

.logo-closed {
    width: 6.3em;
    margin: .6em auto 0 auto;
    font-size: 1em;
}

#nav-menu ul {
    padding: 1.85em 0 5em 0;
    display: none;
}

#nav-menu li {
    height: 2.5em;
    line-height: 2.5em;
    list-style: none;
    border-bottom: .06em solid var(--mainHover);
    transition: .3s;
}

#nav-menu li:first-child {
    border: none;
    font-size: 1.3em;
}

#nav-menu li:hover {
    background:var(--mainHover);
}

#nav-menu a {
    display: block;
    color: #fff;
    text-shadow: 1px 1px 1px var(--darkGray);
}

.hamburger-menu {
    width: 2em;
    left: 0.6em;
    border-radius: 50%;
    cursor: pointer;
    text-align: center;
    top: .5em;
}

.regular-menu {
	width: 100%;
    left: 0;
    top: 0;
    border-radius: 0;
    cursor: pointer;
    text-align: left;
    padding-left: .8em;
}

#menu-container {
	height: 2em;
	position: fixed;
	background: var(--main);
	font-size: 1.6em;
	line-height: 2.15em;
	z-index: 3;
	transition: all 200ms linear;
	-webkit-user-select: none;
	-moz-user-select: none; 
	-ms-user-select: none;
	user-select: none;
    opacity: 0.9;
}

/* -- Header -- */

.header {
    min-height: 27.2em;
    color: #fff;
}

.bg-image {
    position: absolute;
    background: var(--headerImage);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 28.12em;
    z-index: 0;
}

.header h1 {
    padding-top: 6.25em;
    padding-bottom: 0;
    font-family: var(--headerFont);
    font-size: 3.75em;
    text-shadow: .12em .12em .06em black;
}

.header p {
    text-shadow: .06em .06em .06em black;
    margin: .31em .6em;
}

/* -- Form -- */
.form-group {
    width: 80%;
    text-align: left;
    margin: 0 10% .4em 10%;
}

.form {
    height: auto;
    margin: 1em auto;
    padding: 2em;
}

.form input,
.form select {
    width: 100%;
    height: 2.2em;
    display: block;
    border-radius: .2em;
    border: solid .06em #888;
    padding: 0 .31em;
}

.form input[type="submit"] {
    width: 100%;
    margin-top: .5em;
    margin-bottom: 1em;
    background: var(--main);
    color: #eee;
    cursor: pointer;
    transition: 200ms;
}

.form textarea {
    width: 80%;
    height: 17em;
    display: block;
    border: solid .06em #888;
    border-radius: .25em;
    padding: .31em .31em;
    margin: .43em 10%;
    resize: none;
    overflow: hidden;
}

.upload-image-form {
    margin: 1em;
}

.upload-image-form[type="file"] {
    background: var(--main);
    color: #fff;
    border-radius: .5em;
}

.form label {
    font-size: .72em;
    font-weight: bold;
    color: var(--darkGray);
}

.button {
    width: 10.8em;
    height: 1.85em;
    margin: .93em auto;
    padding: 0 .25em;
    text-align: center;
    display: block;
    line-height: 1.85em;
    background: var(--main);
    left: -12.5em;
    color: #eee;
    border: none;
    font-size: .93em;
    border-radius: .15em;
    transition: 400ms linear all;
}

.button:hover,
.form input[type="submit"]:hover {
    background: var(--mainHover);
}



/* --- Cards --- */
#cards {
    padding: 1em;
    padding-bottom: 0;
}

#cards ul {
    list-style: none;
}

#cards li {
    background: var(--lightGray);
    color: var(--darkGray);
    border-radius: .1em;
    margin-bottom: 1em;
}

.cards-content {
    padding: .8em;
    color: var(--darkGray);
    font-size: .87em;
}

/* -- Content -- */

.content {
    padding: .8em;
    color: var(--darkGray);
    font-size: .95em;
}

.content h2,
.content h3 {
    color: var(--darkGray);
    font-size: 1.37em;
    font-family: var(--headerFont);
}

.content p {
    padding: .4em;
    color: var(--darkGray);
    text-align: left;
}

.content p::first-letter {
    margin-left: 1em;
}

/* -- Recipes -- */
.recipes {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    padding: .31em 0 .6em 0;
}

.recipes > div {
    flex-basis: 40%;
    min-width: 17.5em;
    border-radius: .2em;
    margin: .6em .31em 0 .31em;
    border: solid .1em #e0e0cc;
    background: #fff;
}

.recipes img {
    border-bottom: solid .2em #e0e0cc;
}

.recipes > div > a > img:hover {
    opacity: 0.8;
}

.category {
    color: #fff;
    display: inline-block;
    line-height: .93em;
    font-size: .7em;
    background: #555;
    border: solid 1px #bebebe;
    padding: .1em .4em;
    margin-top: .6em;
    border-radius: .6em;
}

.date {
    color: #555;
    font-weight: bold;
    font-size: .7em;
    margin: .5em auto;
    line-height: 0.2em;
}


.add-material {
	width: 5em;
	height: 5em;
    position: fixed;
    top: 70vh;
    right: 2em;
    font-size: 5.1em!important;
    background: #eee;
    color: var(--main);
    border-radius: 100%;
    box-shadow: 0 .12em .31em .12em var(--darkGray);
    cursor: pointer;
    transition: all 80ms linear;
    z-index: 5;
}

.add-material:hover {
    color: var(--mainHover);
}

/* -- Steps -- */
.adding-steps {
    margin: .5em;
}

.adding-steps i {
    margin: 0 1em;
    font-size: 1.3em;
}

.done-step {
    color: var(--main);
}

/* -- Recipe -- */

.grid-recipe {
    color: var(--darkGray);
    padding: 4.37em .6em .93em .6em;
    background: var(--paper);
}

.grid-recipe h1 {
    font-family: var(--headerFont);
}

.grid-recipe p {
    margin: 1.12em .31em;
}

.recipe-img {
    width: 80%;
    margin: .6em 10%;
    border-radius: .18em;
}

.items {
    width: 14.37em;
    padding: .6em 2.5em;
    margin: 0 auto;
    text-align: left;
}

.items h3 {
    text-align: center;
    margin-bottom: .6em;
    color: #3a3a3a;
}

.items > ul > li {
    list-style-image: url('../img/tick.png');
    margin: .18em;
    font-size: 1em;
}

.instruction {
    margin: 1.3em 2.18em;
    text-align: left;
    padding-bottom: 1em;
}

.instruction li {
    min-height: 3.5em;
    margin-top: .93em;
    list-style: none;
    counter-incement: item;
    position: relative;
    left: 1.85em;
    border-left: solid .06em var(--main);
    padding: 0 .93em 0 .93em;
}

.instruction li:before {
    color: var(--main);
    content: counter(item);
    font-size: 2.5em;
    position: absolute;
    left: -2.5em;
}

.side-bar {
    width: 70%;
    padding: 1.85em 15% 1.25em 15%;
    border-top: solid 1px #999;
}

.side-bar img {
    border-radius: .18em;
}

.side-bar img:hover {
    opacity: 0.85;
}

.side-bar li {
    margin: 1 auto;
    list-style: none;
    padding-bottom: .6em;
}

.like-icon {
    font-size: 1.5em!important;
    color: brown;
    cursor: pointer;
}

/* -- Profile-menu-line -- */
.profile-menu-line {
    width: 98%;
    height: 1.4em;
    padding: 0 1% 1em .3%;
    text-align: center;
    border-bottom: solid 1px var(--darkGray);
    margin-bottom: 1em;
}

.profile-menu-line ul {
    list-style: none;
}

.profile-menu-line a {
    width: 20%;
    height: 1.7em;
    padding-bottom: .6em;
    display: block;
    float: left;
    color: var(--darkGray);
    font-size: 1.3em;
}

.profile-menu-line a:hover {
    background: #e6e6e6;
    border-radius: .2em;
}

/* --- Footer --- */
footer {
    padding: .75em;
    color: #fff;
    background: var(--darkGray);
    text-align: center;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
    "column-a column-b"
    "column-c column-c";
}

#column-a {
    grid-area: column-a;
}

#column-b {
    grid-area: column-b;
}

#column-c {
    grid-area: column-c;
}

footer h3{
    color: var(--gray);
    font-size: 1.06em;
}

footer li {
    list-style: none;
    padding: .18em;
}

footer a {
    color: var(--gray);
}

footer a:hover {
    color: #eee;
}

.footer-col {
    padding: .93em;
}

.copyright {
    margin-top: 1.85em;
    font-size: .75em;
    font-weight: 100;
    color: var(--gray);
}