:root {
	/* Colors
	==================== */
	--main: #8080ff;
	--mainHover: #6969d3;
	--gray: #adadad;
	--lightGray: #e0e0e0;
	--darkGray: #333;
	--paper: #eee;
	--fontColor: #535353;

	/* Fonts
	==================== */
	--headerFont: 'lobster', Arial, Helvetica;
	--mainFont: Arial, Helvetica;
	--headerImage: url(../storage/other/img.jpg);

	/* Button
	==================== */
	--btnBg: -webkit-linear-gradient(top, #fff 0%,#eee 100%);
	--btnBorder: 1px solid #6b6b6b;
	--btnShadow:0px 2px 1px #ECECEC inset,
				0px -1px 20px #ECECEC,
				0px 1px 1px #999,
				0px 3px 10px #999;
}

/* Reset
==================== */

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	height: 100%;
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%
}

body {
	text-align: center;
	font-family: var(--mainFont);
	color: #333;
	background: var(--darkGray);
	font-size: 1rem;
	line-height: 1.5;
	counter-reset: item;
}

input, select, textarea {
	width: 100%;
	font-family: Arial, Helvetica, sans-serif;
	line-height: 1;
	box-sizing: border-box;
	font-size: 1rem;
}

a {
	text-decoration: none;
	color: var(--main);
}

img {
	display: block;
	width: 100%;
	height: auto;
}

/* Common
==================== */

.message {
	padding: 1em 1em 0 1em;
	text-align: center;
	background: var(--paper);
	font-weight: 700;
	line-height: 1.3;
	transition: transform 300ms;
	animation: appearFromLeft .5s;
	font-size: 1.1em;
}

.message-public {
	padding: 4em 1em 0 1em;
	margin-bottom: -3em;
}

.error {
	color: brown;
	text-shadow: 1px 1px 5px #ffa6a6;
}
.success {
	color: #25833b;
	text-shadow: 1px 1px 5px #92ff92;
}

.wrapper {
	min-height: 20em;
	color: var(--darkGray);
	background: var(--paper);
	padding-top: 4em;
	z-index: -2;
}

.headline {
	color: var(--darkGray);
	font-family: var(--headerFont);
	line-height: 1.1;
	margin: .4em 0;
}

.content {
	padding: .4em .4em;
	color: var(--darkGray);
	text-align: left;
	font-size: .95em;
}

.center {
	text-align: center;
}

.unstyled-list {
	list-style: none;
}

/* Nav bar
==================== */

#nav-menu {
	transition: opacity linear .1s;
	transition: all .1s linear;
	z-index: 15;
	opacity: .95;
	left: 0;
	background: var(--main);
	position: fixed;
}

.nav-closed {
	width: 100%;
	height: 0;
}

.nav-opened {
	width: 12em;
	padding-top: 1.25em;
}

.admin-btn {
	background: #383853;
}

.logo-opened {
	width: 9em;
	margin: auto;
	transition: width 400ms;
}

.logo-opened:hover {
	width: 10em;
}

.logo-closed {
	width: 9.5em;
	margin: .4em auto;
	transition: width 400ms, margin 400ms;
}

.logo-closed:hover {
	margin: .3em auto;
	width: 10em;
}

#nav-menu ul {
	padding: 1.85em 0 5em;
	display: none;
}

#nav-menu li {
	height: 2.5em;
	line-height: 2.5em;
	border-bottom: .06em solid var(--mainHover);
	transition: .3s;
}

#nav-menu li:hover {
	background: var(--mainHover);
}

#nav-menu a {
	display: block;
	color: #fff;
	text-shadow: 1px 1px 1px #000;
}

.hamburger-menu {
	width: 2em;
	left: .6em;
	border-radius: 500em;
	cursor: pointer;
	top: 1.1em;
	text-align: center;
}

.regular-menu {
	text-align: left;
	width: 100%;
	left: 0;
	top: 0;
	border-radius: 0;
	cursor: pointer;
	padding-left: .8em;
}

#menu-container {
	height: 2em;
	font-size: 1.6em;
	line-height: 2.1em;
	z-index: 3;
	transition: all .2s linear;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	opacity: .9;
	background: var(--main);
	position: fixed;
	color: #fff;
}

/* Home Header
==================== */

.home-header {
	height: 100vh;
	align-items: center;
	color: #fff;
	background: #222;
}

.header-content {
	width: 94%;
	position: absolute;
	top: 45%;
	left: 50%;
	transform: translate(-50%, -50%);
	margin-top: -1em;
}

.header-content h1,
.header-content h2 {
	animation: appearWithOpacity 2s;
	animation-fill-mode: forwards;
	transition: opacity 300ms;
	text-shadow: 2px 2px 2px #000;
	font-family: var(--headerFont);
	z-index: 30;
	opacity: 0;
}

.header-content h1 {
	padding-top: 2.8em;
	padding-bottom: 0;
	font-size: 3em;
	animation-delay: .5s;
}

.header-content h2 {
	padding: 0 .3em;
	animation-delay: 1s;
}

.header-bg-img {
	position: absolute;
	top: 0;
	background: var(--headerImage);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	height: 100vh;
	width: 100%;
	overflow: hidden;
	opacity: .7;
}

.header-bg-content {
	padding: 1em;
}

.home-button {
	display: block;
	margin: .5em auto;
	width: 3em;
	height: 3em;
	line-height: 3em;
	text-align: center;
	border-radius: 50%;
	background: #1e5799;
	color: #fff;
	font-size: 1.6em;
	animation: appearWithRotate 1s;
	cursor: pointer;
	transition: all 300ms;
	position: relative;
}

.home-button:hover {
	background: #861b50;
	transition: transform 400ms, background-color 400ms;
}

.header-search input {
	width: 70%;
	height: 2em;
	padding: 0 1em;
	margin: 1em 15% 0 15%;
	border-radius: 10px;
	border: 2px solid #1e5799;
	background: rgba(0, 0, 0, .4);
	color: #ffffff;
	transition: border 300ms, opacity 400ms;
	opacity: 0;
	display: none;
}

.header-search input:focus {
	border: 2px solid #861b50;
	transition: border 300ms;
}

/* Home sections
==================== */

.home-section {
	background: var(--paper);
	color: #333;
	padding: 2em 2.5em;
}

/* Form
==================== */

.form-group {
	margin-bottom: .4em;
	text-align: left;
	width: 100%;
	line-height: 1.2;
}

.form {
	padding: 0 2em 2em;
}

.form input,
.form select {
	height: 2.2em;
	display: block;
	border-radius: 2px;
	background: #f5f5f5;
	border: .06em solid #a5a5a5;
	padding: 0 .5em;
}

.form input[type=submit] {
	width: 100%;
	margin-top: .5em;
	margin-bottom: 1em;
	background: var(--main);
	color: #eee;
	cursor: pointer;
	transition: .2s;
}

.form input[type=checkbox] {
	width: 1.2em;
	height: 1.2em;
	margin-right: .5em;
}

.form textarea {
	width: 100%;
	height: 17em;
	padding: .4em .5em;
	display: block;
	border: .06em solid #a5a5a5;
	border-radius: 2px;
	background: #f5f5f5;
	resize: none;
	overflow: hidden;
}

.image-label {
	border: dashed 3px var(--gray);
	display: block;
	margin: .5em auto;
	text-align: center;
	padding: .8em;
	color: #777!important;
	font-weight: bold;
	text-transform: uppercase;
	cursor: pointer;
	transition: border 250ms,
				color 250ms;
}

.image-label:hover {
	border: dashed 3px #777;
	color: #555!important;
	transition: border-color 250ms;
}

.form label {
	font-size: .75em;
	color: var(--darkGray);
}

.button {
	width: 10em;
	margin: .4em auto;
	padding: .2em .5em;
	display: block;
	background: var(--btnBg);
	position: relative;
	border-radius: 5px;
	border: var(--btnBorder);
	font-weight: bold;
	color:var(--fontColor);
	transition: box-shadow 300ms;
	text-decoration: none;
	cursor: pointer;
	box-shadow: var(--btnShadow);
}

.button:hover,
.button:active {
	background: -webkit-linear-gradient(top, #f9f9f9 0%,#e9e9e9 100%);
	box-shadow: none;
}

.form input[type=submit]:hover {
	background: var(--mainHover);
}

.button[data-notif]::after {
	content: attr(data-notif);
	min-width: 20px;
	height: 20px;
	line-height: 20px;
	display: inline-block;
	position: absolute;
	left: -8px;
	top: -4px;
	color: #fff;
	text-shadow: none;
	background: #860101;
	border: solid 1px #fff;
	border-radius: 50%;
}

/* Recipes
=================== */

.recipes {
	padding: .5em 15%;
}

.recipe-container {
	padding: .5rem 1rem;
	position: relative;
	transition: transform 400ms;
}

.recipes-content {
	padding: .8em 1em;
	border-radius: 0 0 5px 5px;
	border-bottom: dotted 2px var(--gray);
	font-size: .85em;
	transition: opacity 350ms;
	opacity: 1;
	line-height: 1.2;
}

.recipe-container:hover .recipes-content {
	opacity: .9;
}

.recipe-container img {
	transition: transform 300ms;
	border-radius: 10px 10px 0 0;
}

.category {
	color: #fff;
	display: inline-block;
	line-height: .9em;
	font-size: .8em;
	background: #555;
	border: 1px solid #bebebe;
	padding: .3em .7em;
	margin-top: .6em;
	border-radius: 1em;
}

.date {
	color: #555;
	font-size: .7em;
	margin: .5em auto;
	text-align: center;
}

/* Single recipe
==================== */

.decorated  {
	overflow: hidden;
	text-transform: uppercase;
	color: var(--darkGray);
	margin: .3em 0;
	font-weight: normal;
}

.decorated span {
	display: inline-block;
	position: relative;
}

.decorated span::before,
.decorated span::after {
	content: "";
	border-bottom: 2px dotted var(--gray);
	width: 180%;
	margin: 0 1em;
	position: absolute;
	bottom: .7em;
}

.decorated span::before {
	right: 100%;
}

.decorated span::after {
	left: 100%;
}

.grid-recipe {
	color: var(--darkGray);
	padding: 0 .6em;
	background: var(--paper);
}

.recipe-content > p {
	margin: 1.1em .7em .4em .7em;
	text-align: left;
	font-size: .85em;
	line-height: 1.5;
}

.recipe-img {
	width: 96%;
	margin: .6em 2%;
	border-radius: 9px;
	animation: appear 1s;
}

.items {
	width: 96%;
	padding: .6em 15%;
	margin: 0 auto;
	text-align: left;
	background: 0 0;
	border-radius: 10px;
	border-top: dotted 2px var(--gray);
	background: #eae6f3;
	border-bottom: dotted 2px var(--gray);
	font-size: .85em;
	line-height: 1.5;
}

.items > ul > li {
	list-style-image: url(../storage/other/tick.png);
	margin: 0 .1em
}

.instruction {
	margin: 1.3em 2.18em;
	text-align: left;
	padding-bottom: 1em;
}

.instruction li {
	min-height: 3em;
	margin-top: .93em;
	counter-increment: item;
	position: relative;
	left: 2.5em;
	border-left: dotted 2px var(--gray);
	padding: 0 .93em;
}

.instruction li:before {
	color: var(--gray);
	content: counter(item);
	font-size: 2em;
	position: absolute;
	left: -1.6em;
}

/* Sidebar */
.side-bar {
	width: 100%;
	padding: 1.85em 2em;
}

.side-bar img {
	border-radius: 12px 12px 0 0;
	animation: appearWithRotate 2s;
}

.side-bar img:hover {
	opacity: .8;
}

.side-bar-recipe {
	margin: 1 auto;
	padding-bottom: 1em;
}

.side-bar-content {
	padding: .8em 1em;
	border-radius: 0 0 12px 12px;
	border-bottom: dotted 2px var(--gray);
	font-size: .8em;
	transition: opacity 350ms;
	opacity: 1;
	line-height: 1.3;
}

.like-icon {
	cursor: pointer;
	transition: .3s ease;
	animation: heart-beat 1.7s infinite both 1s, disappear 1s;
	animation-direction: alternate, reverse;
}

.disappear {
	animation: disappear .2s;
	animation-timing-function: linear;
}

#all-likes {
	padding-left: .2em;
	font-size: .9em;
}

.recipe-buttons {
	width: auto;
	grid-area: edit-recipe-buttons;
	display: flex;
	margin: .5em 1em;
	justify-content: center;
}

.recipe-buttons a,
.recipe-buttons input {
	width: 2.5em !important;
	height: 2.5em;
	display: flex;
	justify-content: center;
	align-items: center;
	border: none;
	border-radius: .2em;
	font-size: 1.2em;
	color: #fff;
	background: var(--main);
	margin: 0 .1em !important;
	cursor: pointer;
}

/* Edit create recipe
==================== */

.check-box-ready {
	justify-content: center;
	display: flex;
}

.recipe-buttons a:hover,
.recipe-buttons input:hover {
	background: var(--mainHover);
}

.check-box-ready-wrap {
	display: flex;
	padding: 0 1em;
	align-items: center;
}

.check-box-ready input {
	width: 1.2em;
	margin-right: .5em;
	cursor: pointer;
}

.check-box-ready p { font-size: .9em; }

.preview-image img {
	width: 230px;
	height: 130px;
	margin: 1em auto 0 auto;
}

/* Accordion
==================== */

.accordion {
	background-color: #ddd;
	color: var(--darkGray);
	padding: .8em;
	width: 100%;
	border: none;
	border-bottom: 1px solid #b4b4b4;
	text-align: left;
	outline: 0;
	font-size: .8em;
	transition: .4s;
	border-radius: 4px;
	cursor: pointer;
}

.accordion-active,
.accordion:hover { background-color: #b4b4b4; }

.accordion:after {
	content: '\002B';
	color: #5f5f5f;
	float: right;
	font-size: 1.1em;
	margin-left: 5px;
}

.accordion-active:after { content: "\2212"; }

.accordion-panel {
	padding: .2em .5em;
	max-height: 0;
	overflow: hidden;
	transition: max-height .3s ease-out;
}

/* Users
==================== */

.users-list {
	width: 80%;
	margin: 0 10%;
	padding: 2em 0;
}

.users-list li {
	position: relative;
	display: flex;
	padding-bottom: .5em;
	border-bottom: 1px solid #b6b6b6;
}

.users-list li:hover {
	background-color: #ddd;
	border-radius: 5px
}

.users-list img {
	width: 3.7em;
	height: 3.7em;
	margin: .5em 1em;
	border-radius: 3px;
	border: solid 3px #fff;
	border-bottom: solid 6px #fff;
	animation: appearWithRotate 2s;
}

.user-content {
	margin-top: 1.3em;
	font-size: .85em;
	text-align: left;
}

.button-add-user {
	width: 13em;
	padding: .5em 1em;
	margin: .5em 0;
	display: inline-block;
	background: var(--btnBg);
	color: var(--fontColor);
	border: var(--btnBorder);
	border-radius: 4px;
	text-align: center;
	transition: box-shadow 250ms;
	box-shadow: var(--btnShadow);
	font-weight: bold;
}

.button-add-user:hover {
	box-shadow: none;
}

/* Dashboard
==================== */

.dashboard-cards {
	padding: 1em .3em;
	align-items: stretch;
	align-content: stretch;
	flex-flow: wrap;
	justify-content: center;
	display: flex;
}

.dashboard-cards > div {
	width: 8em;
	min-height: 8rem;
	margin: .3em;
	padding: 2em;
	border: 1px solid;
	border-radius: 3px;
}

.dashboard-cards > div h3 {
	font-weight: 700;
	font-size: 1.3em;
}

.dashboard-cards-rows {
	height: 33.2%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.list-of-recipes {
	width: 90%;
	margin: 1em 4%;
	padding: .5em 1%;
	display: inline-block;
}

.list-of-recipes h3 {
	margin: .5em;
	color: #444;
}

.icon-cards {
	display: block;
	margin: auto;
	width: 40px;
	height: 40px;
	opacity: .8;
}

/* Notifications
==================== */

.notification {
	background: #dfdfdf;
	color: #444;
	border-radius: 4px;
	font-size: .85rem;
	margin: .5em 1em;
	padding: .5em 1em;
}

.notification-title {
	font-size: 1.1em;
	padding: .2em;
}

.notification-date {
	padding: .2em;
	font-size: .8em;
	font-weight: 700;
	color: #555;
}

.notification-message {
	padding: .2em;
}

/* My recipes
==================== */

.each-recipe {
	padding: .2em;
	margin-bottom: .3em;
	display: grid;
	grid-template-columns: 1fr 3fr;
	grid-template-rows: 1.2rem 1fr 1.2rem;
	grid-gap: .4em;
	border: 1px solid #d3ccff;
	background: #f4f3ff;
	border-radius: 2px;
}

.each-recipe[data-author]::after,
.each-recipe[data-author]::before {
	grid-column: 1/3;
	color: #555;
	background: #e7e3ff;
	font-size: .8em;
}

.each-recipe[data-author]::before {
	content: attr(data-author);
	grid-row: 1;
}

.each-recipe[data-updated]::after {
	content: attr(data-updated);
	grid-row: 3;
}

.each-recipe img {
	grid-column: 1/2;
	grid-row: 2;
}

.each-content {
	height: 6em;
	grid-column: 2/3;
	grid-row: 2;
	font-size: .8em;
	overflow: auto;
	text-align: left;
	margin-left: .5em;
}

.block-message-content {
	padding: .5em 1em;
	background: var(--lightGray);
	border-radius: 4px;
}

/* Profile
==================== */

.profile-header {
	height: 15em;
}

.profile-header img {
	width: 10em;
	border-radius: 2px;
	border: solid 5px #fff;
	border-bottom: solid 1em #fff;
	margin: .3em auto;
	box-shadow: 1px 1px .5em #333;
	transition: transform 400ms;
	animation: appearWithRotate 1s;
}

.profile-header h1 {
	font-family: var(--headerFont);
}

.profile-menu-line {
	background: #e6e6e6;
	border-bottom: 1px solid #a8a8a8;
	padding-top: 3em;
	line-height: 0;
}

.profile-menu-line a {
	width: 23.5%;
	display: inline-block;
	color: var(--fontColor);
	padding: .6em 0;
}

.profile-menu-line a:hover {
	background: var(--lightGray);
}

.icon-profile-menu-line {
	display: block;
	margin: auto;
	width: 20px;
	height: 20px;
	opacity: .8;
}

/* Pagination
==================== */

.pagination {
	display: inline-block;
	margin: 20px 0
}

.pagination>li { display: inline; }

.pagination>li>a,
.pagination>li>span {
	position: relative;
	float: left;
	padding: 5px 10px;
	margin-left: -1px;
	line-height: 1.428571429;
	text-decoration: none;
	background: #fff;
	border: 1px solid #bebebe;
}

.pagination>li>a { color: #333; }

.pagination>li>span {
	background: var(--main);
	color: #fff;
}

.pagination>li:first-child>a,
.pagination>li:first-child>span {
	margin-left: 0;
	border-bottom-left-radius: 2px;
	border-top-left-radius: 2px;
	font-weight: 600;
}

.pagination>li:last-child>a,
.pagination>li:last-child>span {
	border-top-right-radius: 2px;
	border-bottom-right-radius: 2px;
	font-weight: 600;
}

.pagination>li>a:focus,
.pagination>li>a:hover,
.pagination>li>span:focus,
.pagination>li>span:hover {
	background: var(--mainHover);
	color: #fff;
}

.pagination>.disabled>a,
.pagination>.disabled>a:focus,
.pagination>.disabled>a:hover,
.pagination>.disabled>span,
.pagination>.disabled>span:focus,
.pagination>.disabled>span:hover {
	color: #999;
	cursor: not-allowed;
	background: #fff;
}

/* Footer
==================== */

footer .container {
	padding: 1em;
}

footer strong {
	color: #6d6bff;
}

footer a {
	color: #c6c5ff;
}

footer a:hover {
	color: var(--mainHover);
}

.footer-logo {
	width: 50px;
	margin: 0 auto;
}

.footer-copyright {
	font-size: .7em;
	color: var(--gray);
	color: #c6c5ff;
}