:root {
	/* Colors
	==================== */
	--main: #8080ff;
	--mainHover: #6969d3;
	--gray: #adadad;
	--lightGray: #e0e0e0;
	--darkGray: #333;
	--paper: #eee;
	--fontColor: #535353;

	/* Fonts
	==================== */

	--headerFont: 'Trebuchet MS', 'Franklin Gothic Medium', Tahoma, sans-serif;
	--mainFont: Arial, Helvetica;
	--headerImage: url(../storage/other/img.jpg);

	/* Button
	==================== */
	--btnBg: -webkit-linear-gradient(top, #fff 0%,#eee 100%);
	--btnBorder: 1px solid #6b6b6b;
	--btnShadow:0px 2px 1px #ECECEC inset,
				0px -1px 20px #ECECEC,
				0px 1px 1px #999,
				0px 3px 10px #999;
}

/* Reset
==================== */

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	height: 100%;
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%
}

body {
	text-align: center;
	font-family: var(--mainFont);
	color: #333;
	background: var(--darkGray);
	font-size: 1rem;
	line-height: 1.5;
	counter-reset: item;
}

input, select, textarea {
	width: 100%;
	font-family: Arial, Helvetica, sans-serif;
	line-height: 1.3;
	box-sizing: border-box;
	font-size: 1rem;
}

a {
	text-decoration: none;
	color: var(--main);
}

img {
	display: block;
	width: 100%;
	height: auto;
}

.spacer {
	height: 2em;
}

/* Common
==================== */

.message {
	padding: 1em 1em 0 1em;
	text-align: center;
	background: var(--paper);
	font-weight: 700;
	line-height: 1.3;
	transition: transform 300ms;
	animation: appearFromLeft .5s;
	font-size: 1.1em;
}

.message-public {
	padding: 4em 1em 0 1em;
	margin-bottom: -3em;
}

.error {
	color: brown;
	text-shadow: 1px 1px 5px #ffa6a6;
}
.success {
	color: #25833b;
	text-shadow: 1px 1px 5px #92ff92;
}

.wrapper {
	min-height: 20em;
	color: var(--darkGray);
	background: var(--paper);
	padding-top: 4em;
	z-index: -2;
}

@media (min-width: 640px) {
	.wrapper-user {
		padding-top: 4em;
	}
}

.headline {
	color: var(--darkGray);
	font-family: var(--headerFont);
	line-height: 1.1;
	margin: .5em;
}

.content {
	padding: .4em .4em;
	color: var(--darkGray);
	text-align: left;
	font-size: .95em;
}

.center {
	text-align: center;
}

.unstyled-list {
	list-style: none;
}

/* Nav bar
==================== */

#nav-menu {
	transition: opacity linear .1s;
	transition: all .1s linear;
	z-index: 15;
	opacity: .95;
	left: 0;
	background: var(--main);
	position: fixed;
}

.nav-closed {
	width: 100%;
	height: 0;
}

.nav-opened {
	width: 12em;
	padding-top: 1.25em;
}

.admin-btn {
	background: #383853;
}

.logo-opened {
	width: 9em;
	margin: auto;
	transition: width 400ms;
}

.logo-opened:hover {
	width: 10em;
}

.logo-closed {
	width: 9.5em;
	margin: .4em auto;
	transition: width 400ms, margin 400ms;
}

.logo-closed:hover {
	margin: .3em auto;
	width: 10em;
}

#nav-menu ul {
	padding: 1.85em 0 5em;
	display: none;
}

#nav-menu li {
	height: 2.5em;
	line-height: 2.5em;
	border-bottom: .06em solid var(--mainHover);
	transition: .3s;
}

#nav-menu li:hover {
	background: var(--mainHover);
}

#nav-menu a {
	display: block;
	color: #fff;
	text-shadow: 1px 1px 1px #000;
}

.regular-menu {
	text-align: left;
	width: 100%;
	left: 0;
	top: 0;
	border-radius: 0;
	padding-left: .3em;
}

.hamburger-menu {
	width: 55px;
	height: 55px;
	left: .4em;
	border-radius: 50%;
	top: .5em;
	position: relative;
	border: solid 1px rgba(0, 0, 0, .2);
	
}

#menu-container {
	height: 2em;
	font-size: 1.6em;
	line-height: 2.1em;
	z-index: 3;
	transition: all .2s linear;
	opacity: .9;
	background: var(--main);
	position: fixed;
	color: #fff;
	z-index: 15;
}

.hamburger {
	width: 36px;
	height: 35px;
	position: relative;
	top: 50%;
	left: 8px;
	transform: translateY(-50%);
	cursor: pointer;
}

.lines {
	width: 26px;
	height: 4px;
	background: #fff;
	position: absolute;
	left: 5px;
	border-radius: 5px;
}

.line1 { top: 8px; }
.line2 { top: 16px; }
.line3 { top: 24px; }

@media (min-width: 640px) {
	#nav-menu {
		width: 100%;
		height: 51px;
		padding: 0;
		position: absolute;
		text-align: right;
	}

	#logo {
		left: 2rem;
		position: absolute;
	}

	#nav-menu ul {
		padding: .45em 10% 0 0;
		display: block;
	}

	#nav-menu li {
		width: 5.3em;
		height: 100%;
		margin-top: -2px;
		display: inline-block;
		border: none;
		border-radius: .2em;
		text-align: center;
		padding: 0 .2em;
		background: var(--mainHover);
	}

	#nav-menu li:hover {
		background: #5b5bbe;
	}

	#menu-container {
		display: none;
	}
}

/* Home Header
==================== */

.home-header {
	height: calc(100vh - 51px);
	align-items: center;
	color: #fff;
}

.header-content {
	width: 94%;
	position: absolute;
	top: 45%;
	left: 50%;
	transform: translate(-50%, -50%);
	margin-top: -1em;
}

.header-content h1,
.header-content h2 {
	animation: appearWithOpacity 2s;
	animation-fill-mode: forwards;
	transition: opacity 300ms;
	text-shadow: 2px 2px 2px #000;
	font-family: var(--headerFont);
	z-index: 30;
	opacity: 0;
	line-height: 1.2;
}

.header-content h1 {
	padding-top: 2.8em;
	padding-bottom: 0;
	font-size: 3em;
	animation-delay: .5s;
}

.header-content h2 {
	padding: 0 .3em;
	animation-delay: 1s;
}

.header-bg-img,
.header-bg-overlay {
	position: absolute;
	top: 0;
	background: var(--headerImage);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	height: 100vh;
	width: 100%;
	overflow: hidden;
}

.header-bg-overlay {
	background: #222;
	opacity: .5;
}

.header-bg-content {
	padding: 1em;
}

.home-button {
	display: block;
	margin: .5em auto;
	width: 3em;
	height: 3em;
	line-height: 3em;
	text-align: center;
	border-radius: 50%;
	background: #1e5799;
	color: #fff;
	font-size: 1.6em;
	animation: appearWithRotate 1s;
	cursor: pointer;
	transition: all 300ms;
	position: relative;
}

.home-button:hover {
	background: #861b50;
	transition: transform 400ms, background-color 400ms;
}

.header-search input {
	width: 80%;
	height: 2em;
	padding: 0 1em;
	margin: 1em 10% 0 10%;
	border-radius: 10px;
	border: 2px solid #1e5799;
	background: rgba(0, 0, 0, .4);
	color: #ffffff;
	transition: border 300ms, opacity 400ms;
	opacity: 0;
	display: none;
	outline: 0;
}

.header-search input:focus {
	border: 2px solid #861b50;
	transition: border 300ms;
}

/* Home sections
==================== */

.home-section {
	background: var(--paper);
	color: #333;
	padding: 1em 2.5em;
}

/* Form
==================== */

.form-group {
	margin: .4em auto;
	text-align: left;
	width: 90%;
	line-height: 1.3;
}

.form { padding: .5em 5%; }

.form input,
.form select {
	height: 2.2em;
	display: block;
	border-radius: 2px;
	background: #f5f5f5;
	border: 1px solid #a5a5a5;
	padding: 0 .5em;
}

.form input[type=submit] {
	width: 100%;
	margin-top: .5em;
	margin-bottom: 1em;
	background: var(--main);
	color: #eee;
	cursor: pointer;
	transition: .2s;
}

.form input[type=checkbox] {
	width: 1.2em;
	height: 1.2em;
	margin-right: .5em;
}

.form textarea {
	width: 100%;
	height: 12em;
	padding: .4em .5em;
	display: block;
	border: .06em solid #a5a5a5;
	border-radius: 2px;
	background: #f5f5f5;
	resize: none;
	overflow-x: hidden;
}

.image-label {
	border: dashed 3px var(--gray);
	display: block;
	margin: .5em auto;
	text-align: center;
	padding: .8em;
	color: #777!important;
	font-weight: bold;
	text-transform: uppercase;
	cursor: pointer;
	transition: border 250ms,
				color 250ms;
}

.image-label:hover {
	border: dashed 3px #777;
	color: #555!important;
	transition: border-color 250ms;
}

.form label {
	font-size: .8em;
	color: var(--darkGray);
}

.button {
	width: 10em;
	margin: .4em auto;
	padding: .2em .5em;
	display: block;
	background: var(--btnBg);
	position: relative;
	border-radius: 5px;
	border: var(--btnBorder);
	font-weight: bold;
	color:var(--fontColor);
	transition: box-shadow 300ms;
	text-decoration: none;
	cursor: pointer;
	box-shadow: var(--btnShadow);
}

.button:hover,
.button:active {
	background: -webkit-linear-gradient(top, #f9f9f9 0%,#e9e9e9 100%);
	box-shadow: none;
}

.form input[type=submit]:hover {
	background: var(--mainHover);
}

.button[data-notif]::after {
	content: attr(data-notif);
	min-width: 20px;
	height: 20px;
	line-height: 20px;
	display: inline-block;
	position: absolute;
	left: -8px;
	top: -4px;
	color: #fff;
	text-shadow: none;
	background: #860101;
	border: solid 1px #fff;
	border-radius: 50%;
}

/* Recipes
=================== */

.recipes {
	padding: .5em 15%;
}

.recipe-container {
	padding: .5rem 1rem;
	position: relative;
	transition: transform 400ms;
}

.recipes-content {
	padding: .8em 1em;
	border-radius: 0 0 5px 5px;
	border-bottom: dotted 2px var(--gray);
	font-size: .85em;
	transition: opacity 350ms;
	opacity: 1;
	line-height: 1.2;
}

.recipe-container:hover .recipes-content {
	opacity: .9;
}

.recipe-container img {
	transition: transform 300ms;
	border-radius: 10px 10px 0 0;
}

.category {
	color: #fff;
	display: inline-block;
	line-height: .9em;
	font-size: .8em;
	background: #555;
	border: 1px solid #bebebe;
	padding: .3em .7em;
	margin-top: .6em;
	border-radius: 1em;
}

.date {
	color: #555;
	font-size: .7em;
	margin: .5em auto;
	text-align: center;
}

@media (min-width: 767px) {
	.recipes {
		padding: .5em 1em;
	}

	.recipes-content {
		margin: .5rem;
		position: absolute;
		bottom: 0;
		left: 0;
		right: 0;
		background: rgba(239, 249, 255, 0.7);
		opacity: 0;
		border-bottom: none;
		color: #424242;
	}

	.recipe-container {
		padding: .5rem;
	}

	.recipe-container img {
		border-radius: 5px;
	}
}

/* Single recipe
==================== */

.decorated  {
	overflow: hidden;
	text-transform: uppercase;
	color: var(--darkGray);
	margin: .3em 0;
	font-weight: normal;
}

.decorated span {
	display: inline-block;
	position: relative;
}

.decorated span::before,
.decorated span::after {
	content: "";
	border-bottom: 2px dotted var(--gray);
	width: 180%;
	margin: 0 1em;
	position: absolute;
	bottom: .7em;
}

.decorated span::before {
	right: 100%;
}

.decorated span::after {
	left: 100%;
}

.grid-recipe {
	color: var(--darkGray);
	padding: 0 .6em;
	background: var(--paper);
}

.recipe-content > p {
	margin: 1.1em .7em .4em .7em;
	text-align: left;
	font-size: .85em;
	line-height: 1.5;
}

.recipe-img {
	width: 96%;
	margin: .6em 2%;
	border-radius: 9px;
	animation: appear 1s;
}

.items {
	width: 96%;
	padding: .6em 15%;
	margin: 0 auto;
	text-align: left;
	background: 0 0;
	border-radius: 10px;
	border-top: dotted 2px var(--gray);
	background: #eae6f3;
	border-bottom: dotted 2px var(--gray);
	font-size: .85em;
	line-height: 1.5;
}

.items > ul > li {
	list-style-image: url(../storage/other/tick.png);
	margin: 0 .1em
}

.instruction {
	margin: 1.3em 2.18em;
	text-align: left;
	padding-bottom: 1em;
}

.instruction li {
	min-height: 3em;
	margin-top: .93em;
	counter-increment: item;
	position: relative;
	left: 2.5em;
	border-left: dotted 2px var(--gray);
	padding: 0 .93em;
}

.instruction li:before {
	color: var(--gray);
	content: counter(item);
	font-size: 2em;
	position: absolute;
	left: -1.6em;
}

/* Sidebar */
.side-bar {
	width: 100%;
	padding: 1.85em 2em;
}

.side-bar img {
	border-radius: 12px 12px 0 0;
	animation: appearWithRotate 2s;
}

.side-bar img:hover {
	opacity: .8;
}

.side-bar-recipe {
	margin: 1 auto;
	padding-bottom: 1em;
}

.side-bar-content {
	padding: .8em 1em;
	border-radius: 0 0 12px 12px;
	border-bottom: dotted 2px var(--gray);
	font-size: .8em;
	transition: opacity 350ms;
	opacity: 1;
	line-height: 1.3;
}

.like-icon {
	display: inline-block;
	width: 25px;
	height: 25px;
	margin: auto;
	background-position: center;
	background-size: 25px;
	cursor: pointer;
	transition: .3s ease;
	animation: heart-beat 1.7s infinite both 1s, disappear 1s;
	animation-direction: alternate, reverse;
}

.like-icon-empty {
	background: url(icons/empty-heart.png);
}

.like-icon-full {
	background: url(icons/full-heart.png);
}

.disappear {
	animation: disappear .2s;
	animation-timing-function: linear;
}

#all-likes {
	padding-left: .2em;
	font-size: .9em;
}

@media (min-width: 640px) {
	.grid-recipe {
		display: grid;
		grid-template: "recipe-content side-bar" 1fr / 1fr 15.62rem;
		grid-gap: 1.12rem;
		padding: 1rem .6rem .93rem;
	}

	.recipe-img {
		width: 80%;
		max-width: 43.7rem;
		margin: .6rem auto;
	}

	.side-bar {
		grid-area: side-bar;
		width: 12.5rem;
		padding: 0 0 1.25rem 2rem;
		border-left: solid 1px #bbb;
	}

	.side-bar-content {
		font-size: .7em;
	}

	.recipes > div {
		flex-basis: 12.5rem;
	}

	.items {
		width: 23em;
		padding: .6em 3em;
	}

	.recipe-content {
		grid-area: recipe-content;
		margin-left: .93rem;
	}
}

@media (min-width:1900px) {
	.grid-recipe {
		grid-template-columns: 12.5rem 1fr 15.62rem 12.5rem;
		grid-template-areas: ". recipe-content side-bar .";
	}
}

@media (min-width:1800px) {
	.grid-recipe {
		grid-template-columns: 25rem 1fr 15.62rem 25rem;
		grid-template-areas: ". recipe-content side-bar .";
	}
}

/* Edit create recipe
==================== */

.check-box-ready {
	justify-content: center;
	display: flex;
}

.icon-save {
	background: var(--main) url(icons/recipe-sprite.png)!important;
}

.icon-eye {
	background: var(--main) url(icons/recipe-sprite.png) -150px 0!important;
}

.icon-delete {
	background: brown url(icons/recipe-sprite.png) -50px 0!important;
}

.icon-edit {
	background: var(--main) url(icons/recipe-sprite.png) -100px 0!important;
}

.icon-approve {
	background: green url(icons/recipe-sprite.png) -200px 0!important;
}

.icon-cancel {
	background: brown url(icons/recipe-sprite.png) -250px 0!important;
}

.edit-recipe-icon {
	background-repeat: no-repeat!important;
	background-position-y: center!important;
}

.recipe-buttons {
	margin: .5em auto;
}


.recipe-buttons a,
.recipe-buttons input {
	width: 50px !important;
	height: 50px;
	display: inline-block;
	border: none;
	border-radius: .2em;
	margin: auto;
	cursor: pointer;
}

.check-box-ready-wrap {
	display: flex;
	padding: 0 1em;
	align-items: center;
}

.check-box-ready input {
	width: 1.2em;
	margin-right: .5em;
	cursor: pointer;
}

.check-box-ready p { font-size: .9em; }

.preview-image img {
	width: 230px;
	height: 130px;
	margin: 1em auto 0 auto;
}

@media (min-width: 420px) {
	.preview-image img {
		width: 276px;
		height: 184px;
	}
}

/* Accordion
==================== */

.accordion {
	background-color: #ddd;
	color: var(--darkGray);
	padding: .7em;
	width: 90%;
	border: none;
	border-bottom: 1px solid #b4b4b4;
	text-align: left;
	outline: 0;
	font-size: .8em;
	transition: background-color .4s;
	border-radius: 4px;
	cursor: pointer;
}

.accordion-active,
.accordion:hover { background-color: #b4b4b4; }

.accordion:after {
	content: '\002B';
	color: #5f5f5f;
	float: right;
	font-size: 1.1em;
	margin-left: 5px;
}

.accordion-active:after { content: "\2212"; }

.accordion-panel {
	padding: .3em .5em 0 .5em;
	max-height: 0;
	overflow: hidden;
	transition: max-height .3s ease-out;
}

/* Users
==================== */

.users-list {
	width: 80%;
	margin: 0 10%;
	padding: 2em 0;
}

.users-list li {
	position: relative;
	display: flex;
	padding-bottom: .5em;
	border-bottom: 1px solid #b6b6b6;
}

.users-list li:hover {
	background-color: #ddd;
	border-radius: 5px
}

.users-list img {
	width: 3.7em;
	height: 3.7em;
	margin: .5em 1em;
	border-radius: 3px;
	border: solid 3px #fff;
	border-bottom: solid 6px #fff;
	animation: appearWithRotate 2s;
}

.user-content {
	margin-top: 1.3em;
	font-size: .85em;
	text-align: left;
}

.button-add-user {
	width: 13em;
	padding: .5em 1em;
	margin: .5em 0;
	display: inline-block;
	background: var(--btnBg);
	color: var(--fontColor);
	border: var(--btnBorder);
	border-radius: 4px;
	text-align: center;
	transition: box-shadow 250ms;
	box-shadow: var(--btnShadow);
	font-weight: bold;
	cursor: pointer;
}

.button-add-user:hover {
	box-shadow: none;
}

/* Dashboard
==================== */

.list-of-recipes {
	width: 90%;
	margin: 1em 4%;
	padding: .5em 1%;
	display: inline-block;
}

.list-of-recipes h3 {
	margin: .5em;
	color: #444;
}

@media (min-width: 640px) {
	.list-of-recipes {
		width: 70%;
		margin: 1em 10%;
		padding: .5em 5%;
	}
}

/* Statistic
==================== */

.statistic-table caption {
	font-size: 1.5em;
	margin: .3em .3em 0 .3em;
	font-size: 1.3em;
}

.statistic-table {
	width: 90%;
	margin: auto;
	border-collapse: collapse;
	table-layout: fixed;
}

.statistic-table tr {
	border: 1px solid #d8d8d8;
	background: #e8eaff;
}

.statistic-table th {
	background: var(--main);
	color: #fff;
	padding: .5em;
}

.statistic-table tr:nth-child(even) {
	background: #f8f8f8;
}

.statistic-table td {
	padding: .4em;
	text-align: center;
}

.statistic-table td {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

@media (min-width: 420px) {
	.statistic-table {
		width: 80%;
	}
}

/* Notifications
==================== */

.notification {
	background: #dfdfdf;
	color: #444;
	border-radius: 4px;
	font-size: .85rem;
	margin: .5em 1em;
	padding: .5em 1em;
}

.notification-title {
	font-size: 1.1em;
	padding: .2em;
}

.notification-date {
	padding: .2em;
	font-size: .8em;
	font-weight: 700;
	color: #555;
}

.notification-message {
	padding: .2em;
}

@media (min-width: 640px) {
	.notification {
		width: 70%;
		margin: .5em 15%;
		padding: .5em 5%;
	}
}

/* My recipes
==================== */

.each-recipe {
	padding: .2em;
	margin-bottom: .3em;
	display: grid;
	grid-template-columns: 1fr 3fr;
	grid-template-rows: 1.2rem 1fr 1.2rem;
	grid-gap: .4em;
	border: 1px solid #d3ccff;
	background: #f4f3ff;
	border-radius: 2px;
}

.each-recipe[data-author]::after,
.each-recipe[data-author]::before {
	grid-column: 1/3;
	color: #555;
	background: #e7e3ff;
	font-size: .8em;
}

.each-recipe[data-author]::before {
	content: attr(data-author);
	grid-row: 1;
}

.each-recipe[data-updated]::after {
	content: attr(data-updated);
	grid-row: 3;
}

.each-recipe img {
	grid-column: 1/2;
	grid-row: 2;
}

.each-content {
	height: 6em;
	grid-column: 2/3;
	grid-row: 2;
	font-size: .8em;
	overflow: auto;
	text-align: left;
	margin-left: .5em;
}

.block-message-content {
	padding: .5em 1em;
	background: var(--lightGray);
	border-radius: 4px;
}

@media (min-width: 640px) {
	.each-recipe img {
		max-width: 8em;
	}

	.each-content {
		height: auto;
		font-size: .9em;
	}

	.each-recipe {
		grid-template-columns: 8em 3fr;
	}
}

/* Profile
==================== */

.profile-header {
	height: 15em;
}

.profile-header img {
	width: 10em;
	border-radius: 2px;
	border: solid 5px #fff;
	border-bottom: solid 1em #fff;
	margin: .3em auto;
	box-shadow: 1px 1px .5em #333;
	transition: transform 400ms;
	animation: appearWithRotate 1s;
}

.profile-header h1 {
	font-family: var(--headerFont);
}

/* Admin Menu
================== */

.user-sidebar {
	background: #222;
	position: fixed;
	top: 0;
	height: 100%;
	bottom: 0;
	width: 45px;
	overflow: hidden;
	-webkit-transition: width 200ms, opacity 200ms;
	transition: width 200ms, opacity 200ms;
	transform: translateZ(0) scale(1, 1);
	opacity: .5;
	z-index: 10;
	padding-top: 51px;
}

.user-sidebar:hover {
	overflow: visible;
	width: 200px;
	height: 100%;
	overflow: visible;
	opacity: .95;
}

.user-sidebar > ul {
	margin: 7px 0;
}

.user-sidebar li {
	position: relative;
	display: block;
	width: 200px;
	line-height: 40px;
	margin: auto;
}

.menu-second-level a {
	display: block;
	padding: .3em .8em .3em 45px;
}

.menu-second-level a:hover {
	background: var(--main);
}

.menu-second-level span {
	display: block;
	color: #fff;
	text-align: left;
}

.user-sidebar li > a {
	position: relative;
	display: table;
	border-collapse: collapse;
	border-spacing: 0;
	color: #fff;
	font-family: arial;
	font-size: 14px;
	text-decoration: none;
	transform: translateZ(0) scale(1, 1);
}

.user-sidebar li:hover {
	color: #fff;
	background: var(--main);
}

.icon-profile-menu-line {
	width: 25px;
	height: 25px;
	margin: 0 10px;
	vertical-align: middle;
	position: relative;
	display: inline-block;
	background-repeat: no-repeat!important;
}

@media (min-width: 740px) {
	.disapear-on-big-screen {
		display: none !important;
	}
}

/* Pagination
==================== */

.pagination {
	display: inline-block;
	margin: 20px 0;
}

.pagination > li { display: inline; }

.pagination > li > a,
.pagination > li > span {
	position: relative;
	float: left;
	padding: 5px 15px;
	margin-left: -1px;
	line-height: 1.428571429;
	text-decoration: none;
	background: #fff;
	border: 1px solid #bebebe;
}

.pagination > li > a {
	color: #333;
}

.pagination > li > span {
	background: var(--main);
	color: #fff;
}

.pagination > li:first-child > a,
.pagination > li:first-child > span {
	margin-left: 0;
	border-bottom-left-radius: 2px;
	border-top-left-radius: 2px;
	font-weight: 600;
}

.pagination > li:last-child > a,
.pagination > li:last-child > span {
	border-top-right-radius: 2px;
	border-bottom-right-radius: 2px;
	font-weight: 600;
}

.pagination > li > a:focus,
.pagination > li > a:hover,
.pagination > li > span:focus,
.pagination > li > span:hover {
	background: var(--mainHover);
	color: #fff;
}

.pagination > .disabled > a,
.pagination > .disabled > a:focus,
.pagination > .disabled > a:hover,
.pagination > .disabled > span,
.pagination > .disabled > span:focus,
.pagination > .disabled > span:hover {
	color: #999;
	cursor: not-allowed;
	background: #fff;
}

/* Media queries
======================================================= */

/* Footer
==================== */

footer .container {
	padding: 1em;
}

footer strong {
	color: #6d6bff;
}

footer a {
	color: #c6c5ff;
}

footer a:hover {
	color: var(--mainHover);
}

.footer-logo {
	width: 50px;
	margin: 0 auto;
}

.footer-copyright {
	font-size: .7em;
	color: var(--gray);
	color: #c6c5ff;
	margin: .5em;
}

/* Animations
==================== */

@keyframes heart-beat {
	10%, 90% { color: #700101; transform: scale(1); }
	20%, 80% { color: #860101; transform: scale(1.1); }
	30%, 50%, 70% { color: #a50202; transform: scale(1.15); }
	40%, 60% { color: #c40101; transform: scale(1.2); }
}

@keyframes appear {
	0% { opacity: 0; transform: scale(0); }
	25%, 75% { opacity: 1; }
	50% { opacity: 1; transform: scale(1); }
	100% { opacity: 1;}
}

@keyframes appearFromLeft {
	0% { margin-left: -100em; transform: scaleY(0); }
	50% { margin-left: -100em; transform: scaleY(1); }
	100% { margin-top: 0em; }
}

@keyframes appearWithOpacity {
	0% { opacity: 0; }
	100% { opacity: 1; }
}

@keyframes appearWithRotate {
	0% { opacity: 0; }
	10% { transform: scale(0); }
	20% { transform: scale3d(-0.5, 1, 1); }
	25% { transform: scale3d(-1, 1, 1); }
	60% { transform: scale(1.1); }
	70% { opacity: 1; }
	100% {transform: scale(1); }
}

@keyframes disappear {
	0% { opacity: 1; transform: scale(1); }
	25%, 75% { opacity: 1; }
	50% { opacity: 1; transform: scale(1.6); }
	100% { opacity: 0; transform: scale(0); }
}

/*
| bootstrap-grid 3.0.0 Copyright 2015-present,
| Santeri Hiltunen
| Licensed under MIT/(https://github.com/Hilzu/bootstrap-grid/blob/master/LICENSE)
*/

@-ms-viewport{width:device-width}clearfix:after,.clearfix:before,.container-fluid:after,.container-fluid:before,.container:after,.container:before,.row:after,.row:before{content:" ";display:table}.clearfix:after,.container-fluid:after,.container:after,.row:after{clear:both}.container{margin-right:auto;margin-left:auto;padding-left:15px;padding-right:15px}@media (min-width:768px){.container{width:750px}}@media (min-width:992px){.container{width:970px}}@media (min-width:1200px){.container{width:1170px}}.container-fluid{margin-right:auto;margin-left:auto;padding-left:15px;padding-right:15px}.row{margin-left:-15px;margin-right:-15px}.col-lg-1,.col-lg-10,.col-lg-11,.col-lg-12,.col-lg-2,.col-lg-3,.col-lg-4,.col-lg-5,.col-lg-6,.col-lg-7,.col-lg-8,.col-lg-9,.col-md-1,.col-md-10,.col-md-11,.col-md-12,.col-md-2,.col-md-3,.col-md-4,.col-md-5,.col-md-6,.col-md-7,.col-md-8,.col-md-9,.col-sm-1,.col-sm-10,.col-sm-11,.col-sm-12,.col-sm-2,.col-sm-3,.col-sm-4,.col-sm-5,.col-sm-6,.col-sm-7,.col-sm-8,.col-sm-9,.col-xs-1,.col-xs-10,.col-xs-11,.col-xs-12,.col-xs-2,.col-xs-3,.col-xs-4,.col-xs-5,.col-xs-6,.col-xs-7,.col-xs-8,.col-xs-9{position:relative;min-height:1px}.col-xs-1,.col-xs-10,.col-xs-11,.col-xs-12,.col-xs-2,.col-xs-3,.col-xs-4,.col-xs-5,.col-xs-6,.col-xs-7,.col-xs-8,.col-xs-9{float:left}.col-xs-12{width:100%}.col-xs-11{width:91.66666667%}.col-xs-10{width:83.33333333%}.col-xs-9{width:75%}.col-xs-8{width:66.66666667%}.col-xs-7{width:58.33333333%}.col-xs-6{width:50%}.col-xs-5{width:41.66666667%}.col-xs-4{width:33.33333333%}.col-xs-3{width:25%}.col-xs-2{width:16.66666667%}.col-xs-1{width:8.33333333%}@media (min-width:768px){.col-sm-1,.col-sm-10,.col-sm-11,.col-sm-12,.col-sm-2,.col-sm-3,.col-sm-4,.col-sm-5,.col-sm-6,.col-sm-7,.col-sm-8,.col-sm-9{float:left}.col-sm-12{width:100%}.col-sm-11{width:91.66666667%}.col-sm-10{width:83.33333333%}.col-sm-9{width:75%}.col-sm-8{width:66.66666667%}.col-sm-7{width:58.33333333%}.col-sm-6{width:50%}.col-sm-5{width:41.66666667%}.col-sm-4{width:33.33333333%}.col-sm-3{width:25%}.col-sm-2{width:16.66666667%}.col-sm-1{width:8.33333333%}}@media (min-width:992px){.col-md-1,.col-md-10,.col-md-11,.col-md-12,.col-md-2,.col-md-3,.col-md-4,.col-md-5,.col-md-6,.col-md-7,.col-md-8,.col-md-9{float:left}.col-md-12{width:100%}.col-md-11{width:91.66666667%}.col-md-10{width:83.33333333%}.col-md-9{width:75%}.col-md-8{width:66.66666667%}.col-md-7{width:58.33333333%}.col-md-6{width:50%}.col-md-5{width:41.66666667%}.col-md-4{width:33.33333333%}.col-md-3{width:25%}.col-md-2{width:16.66666667%}.col-md-1{width:8.33333333%}}@media (min-width:1200px){.col-lg-1,.col-lg-10,.col-lg-11,.col-lg-12,.col-lg-2,.col-lg-3,.col-lg-4,.col-lg-5,.col-lg-6,.col-lg-7,.col-lg-8,.col-lg-9{float:left}.col-lg-12{width:100%}.col-lg-11{width:91.66666667%}.col-lg-10{width:83.33333333%}.col-lg-9{width:75%}.col-lg-8{width:66.66666667%}.col-lg-7{width:58.33333333%}.col-lg-6{width:50%}.col-lg-5{width:41.66666667%}.col-lg-4{width:33.33333333%}.col-lg-3{width:25%}.col-lg-2{width:16.66666667%}.col-lg-1{width:8.33333333%}}