.reset ul {
	padding-left: 30px !important;
	list-style-type: square !important;
}

.reset ul li {
	list-style-type: square !important;
}

.reset strong {
	font-weight: bold !important;
}

.reset h1 {
	font-size: 40px;
	margin: 13px auto;
}

.reset h2 {
	font-size: 35px;
	margin: 13px auto;
}

.reset h3 {
    font-size: 20px;
    line-height: 15px;
	margin: 9px auto;
}

.reset h4 {
	font-size: 25px;
	margin: 13px auto;
}

.reset h5 {
	font-size: 20px;
	margin: 13px auto;
}

.reset h6 {
	font-size: 15px;
	margin: 13px auto;
}