$colors: (
    main: #484074,
    main-light: #d2cfe4,
    main-hover: #403967,
    main-dark: #292543,
    paper: #f3f3f3,
    paper-dark: #e9e9e9,
    grey: #727272,
    grey-dark: #262525,
    red:#cf4545,
    green: #249128
);

$colorsDark: (
    main: #0e141a,
    main-light: #222A3B
);

$home-header: (
    bg-image: url(../storage/other/img.jpg),
    bg-color: rgba(map-get($colors, main), .5)
);

// Fonts
$mainFont: Arial, Helvetica;
$headerFont: Arial, Helvetica;

$levels-colors: (
    silver: #c0c0c0,
    gold: #ecb613,
    blue: #548bbe,
    purple: #9c85d6
);