.categories-button {
	position: relative;
	cursor: pointer;

	a:hover { background: $mainHover; }
}

.categories-title:hover { cursor: not-allowed; }

.categories-menu {
	width: 100%;
	background: $main;

	a {
		border-bottom: .06em solid $mainHover;
		
		&:last-child {
			border-bottom: 3px solid $mainHover;
		}
	}
}

/* Arrow */
.arrow-bottom {
	width: 0;
	display: none;
}

.arrow-bottom:before,
.arrow-bottom-rotate:before {
	content: "";
	border-top: 4px solid #fff;
	border-left: 5px solid transparent;
	border-right: 5px solid transparent;
	position: absolute;
	top: 100%;
	left: 50%;
	margin-top: -9px;
	margin-left: -6px;
	transition: transform 300ms;
}



@media (min-width: 640px) {
	.arrow-bottom {
		display: block;
	}

	.categories-button {
		margin-top: 0;

		a:hover {
			background: none;
			text-decoration: underline;
		}
	}

	.categories-title:hover { cursor: pointer; }

	.categories-menu {
		width: 200%;
		font-size: .9em;
		position: absolute;
		top: 100%;
		margin-top: 5px;
		left: -20%;
		transform-origin: top;
		transition: transform 400ms;
		transform: perspective(1000px) rotateX(-90deg);
	}

	.categor-menu-opened {
		transform: perspective(1000px) rotateX(0deg);
	}
}