.list-of-added-items {
	background: $paperList;
	position: absolute;
	box-shadow: 1px 1px 8px rgba(0, 0, 0, .3);
	border-radius: 4px;
	padding: 10px 20px;
	top: 15px;
	left: 50%;
	transform: translateX(-50%);
	z-index: 100;

	h3 {
		padding-bottom: .2em;
		font-weight: normal;
	}

	ul {
		li {
			border-bottom: solid 1px gray;
			list-style: none;
			text-align: left;
			padding: 5px;
		}

		.checked {
			background: $paperListHover;
			border-radius: 5px;
			position: relative;
			text-decoration: line-through;
		}
	}
}