@media (min-width: 640px) {
	#nav-menu {
		width: 100%;
		height: 60px;
		padding: 0;
		text-align: right;

		#logo {
			left: 2rem;
			position: absolute;
		}

		ul {
			padding: 9px 10% 0 0;
			display: block;
		}

		li {
			width: 5.7em;
			display: inline-block;
			border: none;
			text-align: center;

			&:hover {
				text-decoration: underline;
				background: none;
			}
		}
	}

	#menu-container {
		display: none;
	}
}