#nav-menu {
	transition: opacity linear .1s;
	transition: all .1s linear;
	z-index: 15;
	opacity: .95;
	left: 0;
	background: $main;
	position: fixed;

	ul {
		padding: 1.85em 0 5em;
		display: none;
	}

	li {
		height: 2.5em;
		line-height: 2.5em;
		border-bottom: .06em solid $mainHover;
		transition: .3s;

		&:hover {
			background: $mainHover;
		}
	}

	.active {
		background: $mainHoverDark;
	}

	a {
		display: block;
		color: #fff;
		text-shadow: 1px 1px 1px #000;
	}
}

.nav-closed {
	width: 100%;
	height: 0;
}

.nav-opened {
	width: 12em;
	padding-top: 1.25em;
}

.logo-opened {
	width: 9em;
	margin: auto;
	transition: width 400ms;

	&:hover {
		width: 10em;
	}
}

.logo-closed {
	width: 9.5em;
	margin: .4em auto;
	transition: width 400ms, margin 400ms;
	
	&:hover {
		margin: .3em auto;
		width: 10em;
	}
}

.regular-menu {
	text-align: left;
	width: 100%;
	left: 0;
	top: 0;
	border-radius: 0;
	padding-left: .3em;
}

.hamburger-menu {
	width: 55px;
	height: 55px;
	left: .4em;
	border-radius: 50%;
	top: .5em;
	position: relative;
	border: solid 1px rgba(0, 0, 0, .2);
}

#menu-container {
	height: 2em;
	font-size: 1.6em;
	line-height: 2.1em;
	z-index: 3;
	transition: all .2s linear;
	opacity: .9;
	background: $main;
	position: fixed;
	color: #fff;
	z-index: 15;

	.hamburger {
		width: 36px;
		height: 35px;
		position: relative;
		top: 50%;
		left: 8px;
		transform: translateY(-50%);
		cursor: pointer;
	
		.lines {
			width: 26px;
			height: 4px;
			background: #fff;
			position: absolute;
			left: 5px;
			border-radius: 5px;
		}
		
		.line1 { top: 8px; }
		.line2 { top: 16px; }
		.line3 { top: 24px; }
	}
}