#nav-menu {
	transition: opacity linear .1s;
	transition: all .1s linear;
	z-index: 15;
	opacity: .95;
	left: 0;
	background: $main;
	position: absolute;
	box-shadow: 2px 2px 2px rgba(0, 0, 0, .3);

	ul {
		padding: 1em 0 5em;
		display: none;
	}

	li {
		height: 2.6em;
		line-height: 2.6em;
		border-bottom: .06em solid $mainHover;
		transition: border .3s;

		a {
			font-family: $headerFont;
			text-transform: lowercase;
			font-weight: 100;
			font-size: .95em;
		}

		&:hover { background: $mainHover; }
	}

	.active { background: $mainHover; }

	a {
		display: block;
		color: #fff;
		text-shadow: 1px 1px 1px #000;
	}
}

.regular-menu {
	text-align: left;
	width: 100%;
	left: 0;
	top: 0;
	border-radius: 0;
	padding-left: .3em;
	box-shadow: 2px 2px 2px rgba(0, 0, 0, .3);
}

// Opened
.nav-opened {
	width: 15em;
	padding-top: 1.5em;
}

.logo-opened {
	font-family: $headerFont;
	font-size: .85em;
	width: 90%;
	margin: 1em auto 0 auto;
	transition: width 400ms;
}

// Closed
.nav-closed {
	width: 100%;
	height: 0;
}

.logo-closed {
	width: 12em;
	font-family: $headerFont;
	margin: 1em auto;
	transition: color 200ms;
	
	h1:hover {
		color: lighten($mainLight, 40%);
		transition: color 200ms;
	}
}

#menu-container {
	height: 2.5em;
	font-size: 1.6em;
	line-height: 2.5em;
	z-index: 3;
	transition: all .2s linear;
	opacity: .9;
	background: $main;
	position: absolute;
	color: #fff;
	z-index: 15;

	.hamburger {
		width: 36px;
		height: 35px;
		position: relative;
		top: 50%;
		left: 8px;
		transform: translateY(-50%);
		cursor: pointer;
	
		.lines {
			width: 26px;
			height: 4px;
			background: #fff;
			position: absolute;
			left: 5px;
			border-radius: 5px;
		}
		
		.line1 { top: 8px; }
		.line2 { top: 16px; }
		.line3 { top: 24px; }
	}
}