@media (min-width: 640px) {
	#nav-menu {
		width: 100%;
		height: 55px;
		padding: 0;
		text-align: right;

		#logo {
			left: 1.5rem;
			top: -4px;
			position: absolute;
		}

		ul {
			padding: 8px 6% 0 0;
			display: block;
		}

		li {
			width: 5.6em;
			height: 2.3em;
			display: inline-block;
			border: none;
			text-align: center;
			transition: border .5s;

			&:hover {
				border-bottom: solid 2px lighten($mainLight, 10%);
				background: none;
				transition: border .5s;
			}
		}

		.active {
			text-decoration: none;
			background: none;
			border-bottom: $navBorderBottom;
		}
	}

	#menu-container {
		display: none;
	}
}