.preview-image {
    display: inline-block;
    overflow: hidden;

    &:hover label {
        opacity: 1;
    }

    &:hover .preview-overlay {
        opacity: .6;
    }

    &-recipe {
        width: 450px;
        height: 300px;
        img {
            width: 450px !important;
            height: auto !important;
        }
    }

    &-profile {
        width: 270px;
        height: 270px;
        img {
            width: 270px !important;
            height: auto !important;
        }
    }

    .preview-overlay {
        position: absolute;
        top: 0;
        bottom: 0;
        width: 100%;
        background: #000;
        opacity: 0;
        transition: opacity 200ms;
    }

    label {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        opacity: 0;
    }
}

.add-remove-field {
    display: inline-block;
    font-weight: bold;
    font-size: .9em;
    outline: none;
    padding: 5px 8px;
    border-radius: 4px;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    &:hover {
        background: lighten($mainLight, 15%);
    }
}

.disable {
    opacity: .4;
    &:hover {
        cursor: not-allowed;
    }
}

@media (min-width: 420px) {
    .preview-image img {
        width: 276px;
        height: 184px;
    }
}