.preview-image {
    display: inline-block;
    overflow: hidden;

    &:hover label {
        opacity: 1;
    }

    &:hover .preview-overlay {
        opacity: .6;
    }

    &-recipe {
        width: 450px;
        height: 300px;
        img {
            width: 450px !important;
            height: auto !important;
        }
    }

    &-profile {
        width: 270px;
        height: 270px;
        img {
            width: 270px !important;
            height: auto !important;
        }
    }

    .preview-overlay {
        position: absolute;
        top: 0;
        bottom: 0;
        width: 100%;
        background: #000;
        opacity: 0;
        transition: opacity 200ms;
    }

    label {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        opacity: 0;
    }
}

.add-remove-field {
    display: inline-block;
    font-weight: bold;
    font-size: .9em;
    outline: none;
    padding: 5px 8px;
    border-radius: 4px;

    &:hover {
        background: lighten($mainLight, 15%);
    }

    .dark-theme & {
        background: #c8c8c8;

        &:hover {
            background: #feeeff;
        }
    }
}

.disable {
    opacity: .4;
    &:hover {
        cursor: not-allowed;
    }
}

@media (min-width: 420px) {
    .preview-image img {
        width: 276px;
        height: 184px;
    }
}

.textarea-lines {
    background-attachment: local;
    line-height: 45px !important;
    padding: 4px 5px !important;
    border-bottom: none !important;
    box-shadow: none !important;
    background-image:
        linear-gradient(to right, transparent 10px, transparent 10px),
        linear-gradient(to left, transparent 10px, transparent 10px),
        repeating-linear-gradient(transparent, transparent 44px, #9e9e9e 44px, #9e9e9e 45px, transparent 43px);

    .dark-theme & {
        background-image:
            linear-gradient(to right, transparent 10px, transparent 10px),
            linear-gradient(to left, transparent 10px, transparent 10px),
            repeating-linear-gradient(transparent, transparent 44px, #3b546d 44px, #3b546d 45px, transparent 43px)
    }
}