.btn-sort {
    padding: 0 10px;
    margin: 6px 8px;
    height: 30px;
    line-height: 33px;
    text-transform: capitalize;
    font-weight: bold;
    border-radius: 20px;
    background: #d5cee0;
    background: -moz-linear-gradient(left, #d5cee0 0%, #ffffff 72%);
    background: -webkit-linear-gradient(left, #d5cee0 0%,#ffffff 72%);
    background: linear-gradient(to right, #d5cee0 0%,#ffffff 72%);
    border-bottom: 2px solid #d5cee0;
}

.btn-sort.active {
    transform: scale(1.1);
    background: #e9c4c4;
    background: -moz-linear-gradient(left, #e9c4c4 0%, #ffffff 72%);
    background: -webkit-linear-gradient(left, #e9c4c4 0%,#ffffff 72%);
    background: linear-gradient(to right, #e9c4c4 0%,#ffffff 72%);
    border-bottom: 2px solid #e9c4c4;
}