.btn-sort {
    padding: 0 7px;
    margin: 5px;
    height: 27px;
    line-height: 28px;
    text-transform: capitalize;
    font-weight: bold;
    border-radius: 20px 0 0 20px;
    background: #d5cee0;
    background: -moz-linear-gradient(left, #d5cee0 0%, #f2eaf3 72%);
    background: -webkit-linear-gradient(left, #d5cee0 0%,#f2eaf3 72%);
    background: linear-gradient(to right, #d5cee0 0%,#f2eaf3 72%);
}

.btn-sort.active {
    transform: scale(1.1);
    background: #e9c4c4;
    background: -moz-linear-gradient(left, #e9c4c4 0%, #f3e9e9 72%);
    background: -webkit-linear-gradient(left, #e9c4c4 0%,#f3e9e9 72%);
    background: linear-gradient(to right, #e9c4c4 0%,#f3e9e9 72%);
}