.grid-recipe {
    padding: 0 .6em;

    .popup-window {
        width: 260px;
        right: -80px;
        top: -20px;
        opacity: 0;
        z-index: 1;
        border-radius: 7px 0 7px 7px;
        transition: transform 300ms, right 300ms, top 300ms, opacity 500ms;
        transform: scale(0, 0);

        a {
            margin-bottom: 10px;
        }
    }

    .popup-window.active {
        right: 25px;
        opacity: 1;
        top: 30px;
        transition: transform 300ms, right 300ms, 300ms, opacity 500ms;
        transform: scale(1, 1);
    }

    .user-icon-on-single-recipe {
        margin-right: -25px;
        width: 70px;
        height: 70px;
        border-radius: 50%;
        border: 3px solid $silverColor;
        display: inline-block;
        background-position: top !important;
        background-size: 70px !important;
        background-repeat: no-repeat !important;
        &.gold-color {
            border-color: $goldColor;
        }
        &.blue-color {
            border-color: $blueColor;
        }
        &.purple-color {
            border-color: $purpleColor;
        }
    }
}

.single-recipe-img-wrapper {
    width: 95%;
    margin: auto;

    .recipe-img {
        width: 100%;
        margin: .6em auto;
    }
}

.corner {
    width: 95%;
    position: relative;
    padding: .6em;
    border: 1px solid #ccc;
    border-radius: 60px 60px 0 0 / 5px 5px 0 0;
    background-image:
        linear-gradient(102deg, rgba(0,0,0,.15), rgba(0,0,0,.07) 10px, rgba(0,0,0,0) 20px),
        linear-gradient(-102deg, rgba(0,0,0,.15), rgba(0,0,0,.07) 10px, rgba(0,0,0,0) 20px);
    background-color: #fff;

    .dark-theme & {
        border-color: lighten($darkTheme, 13%);
        background-color: $darkThemeLight;
        border-color: transparent;
        border-radius: 4px;
        opacity: .85;

        &::before {
            content: none;
        }
        &::after {
            content: none;
        }
    }

    &::before, &::after {
        content: '';
        position:absolute;
        top: 25px;
        z-index:-1;
        width: 100px;
        height: 100px;
    }
    &:before {
        right: 20px;
        box-shadow: 10px -10px 10px rgba(0,0,0,.5);
        transform: rotate(-2deg) skew(-20deg);
    }
    &:after {
        left: 20px;
        box-shadow: -10px -10px 10px rgba(0,0,0,.5);
        -webkit-transform: rotate(2deg) skew(20deg);
        transform: rotate(2deg) skew(20deg);
    }
}

.items {
    width: 100%;
    max-width: 100%;
    text-align: left;
    background: #f3edc9;
    background: linear-gradient(#f3edc9, #fdfdf7);
    line-height: 1.4;
    list-style-image: url(../storage/other/tick.png);

    .dark-theme & {
        background: $darkThemeLight;
    }

    li {
        font-size: 1.1em;
        border-bottom: 1px solid #c3c3c3;

        .dark-theme & {
            border-bottom-color: lighten($darkTheme, 17%);
        }
    }
}

.instruction {
    padding: 0 0 1em 2.6em;
    font-size: 1.2em;

    li {
        min-height: 3em;
        margin-top: .93em;
        counter-increment: item;
        position: relative;
        left: .4em;
        padding: 0 .7em;
        text-align: left;
        border-bottom: 1px solid #c3c3c3;
        .dark-theme & {
            border-bottom-color: lighten($darkTheme, 17%);
        }
        &:before {
            width: 50px;
            height: 50px;
            text-align: center;
            color: #fff;
            content: counter(item);
            font-size: 1.5em;
            line-height: 50px;
            position: absolute;
            left: -2.2em;
            background: $main;
            border-radius: 5px;
        }
    }
}

.side-bar {
    width: 100%;
    padding: 1.85em 2em;
}

@media (min-width: 540px) {
    .grid-recipe {
        display: grid;
        grid-template: "recipe-content side-bar" 1fr / 1fr 15.62rem;
        grid-gap: 1.12rem;
        padding: 1rem .6rem .93rem;

        .single-recipe-img-wrapper {
            width: 70%;
        }

        .recipe-content {
            grid-area: recipe-content;
            margin-left: .93rem;
        }
        .side-bar {
            grid-area: side-bar;
            width: 12.5rem;
            padding: 0 0 1.25rem 2rem;
        }
    }
}

.level-badge, .level-badge-wrap {
    width: 33px;
    height: 23px;
    background: #181919;
    position: relative;
    &::before, &::after {
        content: "";
        position: absolute;
        left: 0;
        width: 0;
        height: 0;
        border-left: 16.7px solid transparent;
        border-right: 16.7px solid transparent;
    }
    &::before {
        top: -8px;
        border-bottom: 9px solid #181919;
    }
    &::after {
        bottom: -12px;
        border-top: 12px solid $silverColor;
    }
    span {
        font-size: 1.6em;
        font-weight: bold;
        font-family: sans-serif;
        line-height: 23px;
        color: $silverColor;
    }
}
.level-badge.gold-color {
    &::after {
        border-top-color: $goldColor;
    }
    span {
        color: $goldColor;
    }
}
.level-badge.purple-color {
    &::after {
        border-top-color: $purpleColor;
    }
    span {
        color: $purpleColor;
    }
}
.level-badge.blue-color {
    &::after {
        border-top-color: $blueColor;
    }
    span {
        color: $blueColor;
    }
}
.level-badge-wrap {
    &::before {
        top: -13px;
        border-bottom: 13px solid $silverColor;
    }
    &::after {
        bottom: -8px;
        border-top: 9px solid #181919;
    }
    &.gold-color {
        &::before {
            border-bottom-color: $goldColor;
        }
    }
    &.purple-color {
        &::before {
            border-bottom-color: $purpleColor;
        }
    }
    &.blue-color {
        &::before {
            border-bottom-color: $blueColor;
        }
    }
}
