.decorated {
    overflow: hidden;
    color: $mainDark;
    margin: .3em 0;
    font-weight: normal;
    font-size: 25px;
}

.grid-recipe {
    color: $greyDark;
    padding: 0 .6em;
    background: $paper;

    .popup-window {
        width: 260px;
        right: -80px;
        top: -20px;
        opacity: 0;
        z-index: 1;
        border-radius: 7px 0 7px 7px;
        transition: transform 300ms, right 300ms, top 300ms, opacity 500ms;
        transform: scale(0, 0);

        a {
            margin-bottom: 10px;
        }
    }

    .popup-window.active {
        right: 25px;
        opacity: 1;
        top: 30px;
        transition: transform 300ms, right 300ms, 300ms, opacity 500ms;
        transform: scale(1, 1);
    }
}

.recipe-img {
    width: 96%;
    margin: .6em 2%;
    animation: appear 1s;
}

.corner {
    width: 95%;
    max-width: 550px;
    position: relative;
    padding: .6em;
    border: 1px solid #ccc;
    border-radius: 60px 60px 0 0 / 5px 5px 0 0;
    background-image:
        linear-gradient(102deg, rgba(0,0,0,.15), rgba(0,0,0,.07) 10px, rgba(0,0,0,0) 20px),
        linear-gradient(-102deg, rgba(0,0,0,.15), rgba(0,0,0,.07) 10px, rgba(0,0,0,0) 20px);
    background-color: #fff;

    &:before, &:after {
        content: '';
        position:absolute;
        top: 25px;
        z-index:-1;
        width: 100px;
        height: 100px;
    }
    &:before {
        right: 20px;
        box-shadow: 10px -10px 10px rgba(0,0,0,.5);
        transform: rotate(-2deg) skew(-20deg);
    }
    &:after {
        left: 20px;
        box-shadow: -10px -10px 10px rgba(0,0,0,.5);
        -webkit-transform: rotate(2deg) skew(20deg);
        transform: rotate(2deg) skew(20deg);
    }
}

.items {
    width: 100%;
    max-width: 100%;
    text-align: left;
    background: #f3edc9;
    background: linear-gradient(#f3edc9, #fdfdf7);
    line-height: 1.4;
    list-style-image: url(../storage/other/tick.png);
    
    li {
        font-size: 1.1em;
        border-bottom: 1px solid #c3c3c3;
    }
}

.instruction {
    padding: 0 0 1em 2.6em;
    font-size: 1.2em;
    li {
        min-height: 3em;
        margin-top: .93em;
        counter-increment: item;
        position: relative;
        left: .4em;
        padding: 0 .7em;
        text-align: left;
        border-bottom: 1px solid #c3c3c3;

        &:before {
            width: 50px;
            height: 50px;
            text-align: center;
            color: #fff;
            content: counter(item);
            font-size: 2em;
            position: absolute;
            left: -2.2em;
            background: $main;
            border-radius: 5px;
        }
    }
}

.side-bar {
    width: 100%;
    padding: 1.85em 2em;
}

@media (min-width: 540px) {
    .grid-recipe {
        display: grid;
        grid-template: "recipe-content side-bar" 1fr / 1fr 15.62rem;
        grid-gap: 1.12rem;
        padding: 1rem .6rem .93rem;
        .recipe-img {
            width: 80%;
            max-width: 43.7rem;
            margin: .6rem auto;
        }
        .recipe-content {
            grid-area: recipe-content;
            margin-left: .93rem;
        }
        .side-bar {
            grid-area: side-bar;
            width: 12.5rem;
            padding: 0 0 1.25rem 2rem;
        }
    }
}