.statistic-table {
	width: 90%;
	margin: auto;
	border-collapse: collapse;
	table-layout: fixed;

	th {
		background: $main;
		color: #fff;
		padding: .5em;
	}

	tr {
		border: 1px solid #d8d8d8;
		background: #e8eaff;

		&:nth-child(even) {
			background: #f8f8f8;
		}
	}

	td {
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
		padding: .4em;
		text-align: center;
	}
}

@media (min-width: 420px) {
	.statistic-table {
		width: 80%;
	}
}