.preview-image img {
	width: 230px;
	height: 160px;
	margin: 1em auto 0 auto;
}

.add-remove-field {
	display: inline-block;
	font-weight: bold;
	font-size: .9em;
	outline: none;
	padding: 5px 8px;
	border-radius: 4px;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	&:hover {
		background: lighten($mainLight, 15%);
	}
}

.disable {
	opacity: .4;
	&:hover {
		cursor: not-allowed;
	}
}

@media (min-width: 420px) {
	.preview-image img {
		width: 276px;
		height: 184px;
	}
}