footer {
	padding: 1em;

	strong {
		color: #6d6bff;
	}

	a {
		color: #c6c5ff;

		&:hover {
			color: $mainHover;
		}
	}

	.active {
		color: #d5b0ff;
		text-decoration: underline;
	}

	.footer-logo {
		width: 50px;
		margin: 0 auto;
	}
	
	.footer-copyright {
		font-size: .7em;
		color: $gray;
		color: #c6c5ff;
		margin: .5em;
	}
}