.user-icon {
	width: 22px;
	height: 22px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.user-icon-big {
	width: 35px;
	height: 35px;
	border-radius: 50%;
}

.user-icon-small {
	width: 25px;
	height: 25px;
	border-radius: 50%;
}

.right-borders > li {
	border-left: solid 1px darken($main, 4%);
}

.bottom-borders > li {
	border-bottom: solid 1px darken($paper, 2%);
}