.profile-header {
	min-height: 15em;
	padding-bottom: 1em;
	text-align: center;
}

.image-wrapper {
	display: inline-block;
	width: 160px;
	border: solid 5px #fff;
	border-bottom: solid 1em #fff;
	margin: .3em auto;
	box-shadow: 1px 1px .5em #333;
	overflow: hidden;
	max-height: 250px;
	text-align: center;
	transition: transform 400ms;
	animation: appearWithRotate 1s;
}

.image-wrapper img {
	max-width: 100%;
}

.profile-header h1 {
	font-family: $headerFont;
	font-size: 2em;
}

.list-of-recipes {
	width: 90%;
	margin: 1em 4%;
	padding: .5em 1%;
	display: inline-block;
}

.list-of-recipes h3 {
	margin: .5em;
	color: #444;
}

@media (min-width: 640px) {
	.list-of-recipes {
		width: 70%;
		margin: 1em 10%;
		padding: .5em 5%;
	}
}