body {
	font-family: $mainFont;
	background-color: $paper;
	font-size: 1rem;
	line-height: 1.5;
	counter-reset: item;
}

.fix-input {
	margin-bottom: 0 !important;
	height: 64px !important;
}

.wrapper {
	max-width: 1600px;
	margin: auto;
}

.headline {
	color: $mainDark;
	font-family: $headerFont;
	text-shadow: 1px 1px 3px $mainLight;
	display: inline-block;
	font-size: 1.4em;
	margin: .4em 0;
	position: relative;

	&::first-letter {
		text-transform: uppercase;
	}

	&::before {
		content: '';
		width: 80px;
		height: 2px;
		background: $main;
		position: absolute;
		left: -20px;
		top: -4px;
	}

	&::after {
		content: '';
		width: 3px;
		height: 40px;
		background: $main;
		position: absolute;
		left: -10px;
		top: -10px;
	}
}

.online-icon-on,
.online-icon-off {
	display: inline-block;
	width: 10px;
	height: 10px;
	border-radius: 50%;
	margin-right: 2px;
}

.online-icon-on {background: darkgreen;}
.online-icon-off {background: brown;}

.unstyled-list {
	list-style: none;
}