body {
	font-family: $mainFont;
	background-color: $paper;
	font-size: 1rem;
	line-height: 1.5;
	counter-reset: item;
}

svg {
	fill: $main;
}

button {
	cursor: pointer;
}

select {
	background: none;
	border-bottom: 1px solid #9e9e9e;
	height: 39px;
}

.page {
	padding: 2em 1em;
	min-height: 20em;
}

.small-notif-btn[data-notif]::after {
	content: attr(data-notif);
	min-width: 20px;
	height: 20px;
	line-height: 20px;
	text-align: center;
	display: inline-block;
	position: absolute;
	left: 11px;
	top: 7px;
	color: $smallNotifBtnColor;
	text-shadow: none;
	background: $smallNotifBtnBg;
	border: solid 1px $smallNotifBtnColor;
	border-radius: 50%;
}

.min-w {
	min-width: 190px;
}

.min-h {
	height: 165px;
	overflow-y: hidden;
}

nav .input-field input[type=search] {
	color: #fff;
}

nav .input-field input[type=search]:-webkit-autofill {
	box-shadow: 0 0 0 100px $main inset;
	-webkit-box-shadow: 0 0 0 100px $main inset;
	-webkit-text-fill-color: #000 !important;
}

nav .input-field input[type=search]:-webkit-autofill:active {
	-webkit-text-fill-color: #fff !important;
}

.wrapper {
	max-width: 1150px;
	margin: auto;
}

.headline {
	color: $mainDark;
	font-family: $headerFont;
	text-shadow: 1px 1px 3px $mainLight;
	display: inline-block;
	font-size: 1.4em;
	margin: .4em 0;
	position: relative;

	&::first-letter {
		text-transform: uppercase;
	}

	&::before {
		content: '';
		width: 80px;
		height: 2px;
		background: $main;
		position: absolute;
		left: -18px;
		top: -10px;
	}

	&::after {
		content: '';
		width: 3px;
		height: 40px;
		background: $main;
		position: absolute;
		left: -10px;
		top: -16px;
	}
}

.online-icon-on,
.online-icon-off {
	display: inline-block;
	width: 10px;
	height: 10px;
	border-radius: 50%;
	margin-right: 2px;
}

.online-icon-on {background: darkgreen;}
.online-icon-off {background: brown;}

.unstyled-list {
	list-style: none;
}