@font-face {
	font-family: Comfortaa;
    src: url(fonts/Comfortaa/Comfortaa-Regular.ttf);
    //src: url(fonts/Comfortaa/Comfortaa-Bold.ttf);
    //src: url(fonts/Comfortaa/Comfortaa-Light.ttf);
}

// Main Colors
$main: #484074;
$gray: #adadad;
$paper: #f3f3f3;
$fontColor: #535353;

// Shades
$mainLight: lighten($main, 40%);
$mainHover: darken($main, 2%);
$mainDark: darken($main, 15%);
$lightGray: lighten($gray, 30%);
$darkGray: darken($gray, 50%);

// Navigation
$navBorderBottom: solid 2px $mainLight;

// Home header
$homeHeaderImage: url(../storage/other/img.jpg);
$homeHeaderBg: rgba($main, .5);

// Small notification button
$smallNotifBtnBg: #a70e0e;
$smallNotifBtnColor: #fff;

// Forms
$inputColor: #f5f5f5;
$inputRadius: 4px;
$formLines: #444;

// Fonts
$headerFont: 'Comfortaa', sans-serif;
$mainFont: Arial, Helvetica;

// Button
$btnBg: -webkit-linear-gradient(top, #fff 0%,#d4d4d4 100%);
$btnBorder: 1px solid #6b6b6b;
$btnShadow: 1px 1px 1px #868686;

// Button main
$btnMainBg: -webkit-linear-gradient(top, lighten($main, 5%) 0%, $main 100%);
$btnMainBorder: 1px solid darken($main, 1%);
$btnMainShadow: 1px 1px 1px darken($main, 40%);