@font-face {
	font-family: Comfortaa;
    src: url(fonts/Comfortaa/Comfortaa-Regular.ttf);
    //src: url(fonts/Comfortaa/Comfortaa-Bold.ttf);
    //src: url(fonts/Comfortaa/Comfortaa-Light.ttf);
}

// Colors
$mainLight: #6b6494;
$main: #484074;
$mainHover: #403969;
$mainDark: #312d47;
$gray: #adadad;
$lightGray: #e0e0e0;
$darkGray: #333;

$paper: #eee;
$navBorderBottom: solid 2px lighten($mainLight, 10%);
$fontColor: #535353;

// Home header
$homeHeaderImage: url(../storage/other/img.jpg);
$homeHeaderOpacity: .55;
$homeHeaderBg: darken($mainDark, 14%);

// Small notification button
$smallNotifBtnBg: #a70e0e;
$smallNotifBtnColor: #fff;

// Forms
$inputColor: #f5f5f5;
$inputRadius: 4px;
$formLines: #444;

// Fonts
$headerFont: 'Comfortaa', sans-serif;
$mainFont: Arial, Helvetica;

// Button
$btnBg: -webkit-linear-gradient(top, #fff 0%,#eee 100%);
$btnBorder: 1px solid #6b6b6b;
$btnShadow: 1px 1px 1px #868686;

// Button main
$btnMainBg: -webkit-linear-gradient(top, $main 0%, $mainHover 100%);
$btnMainBorder: 1px solid darken($main, 1%);
$btnMainShadow: 1px 1px 1px darken($main, 40%);