.env
node_modules
vendor
xdebug
npm-debug.log
yarn-error.log
dump.rdb
.phpunit.result.cache

storage/*.key
storage/logs/*
storage/framework/testing

public/mix-manifest.json
public/storage
public/js/app.js
public/js/chart.js
public/js/app.js.map
public/js/chart.js.map
public/css/app.css
public/css/app.css.map

yarn.lock
package-lock.json