/node_modules
/public/hot
/public/storage
/storage/*.key
/xdebug
/vendor
/.idea
/.vscode
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.env
dump.rdb
public/js/app.js
public/vendor/js/
public/css/app.css
public/mix-manifest.json
tags
/.phpcomplete_extended
